/**~~ Shopper v2.1.4 ~~**/
/**~~ Theme Font ~~**/
.checkout-onepage-success .sub-title,
.product-tabs li a,
.contacts-index-index .fieldset h2.legend,
.std h1, .std h2, .std h3, .std h4,
.page-title h1, .page-title h2,
.cart-top span,
.cart-top-title,
.compare-top-title,
.search-top-container .search-form .search-top-title,
.footer-info h4,
.price-box .price,
.price-box.map-info a,
nav .nav-top-title, .nav-container .nav-top-title,
#queldoreiNav>li>a,
#queldoreiNav li.custom-block div.sub-wrapper strong,
#nav>li>a, #mobile-nav>li>a,
#nav li.custom-block ul li strong,
.wide-navigation #nav ul.level0 > li > a,
.homepage-banners a .content strong,
.slider-container h3,
.slider-container .jcarousel-list h3,
.category-description h1,
.category-description strong,
.products-grid h3,
.cart .cart-collaterals h2,
#shopping-cart-totals-table strong,
#product-customer-reviews .review-title,
.add-review h3.title,
#customer-reviews .form-add h2,
.top-opc li .number,
.opc .step-title,
.opc h3,
.block .block-title strong,
.cms-index-index .block .block-title strong,
.block-poll .question,
.block-layered-nav dt,
.product-tabs-accordion h2.tab-heading a,
.product-category-title,
.page-head h3,
.product-view h1,
.product-view h2,
.product-view .box-tags h3,.product-view .box-tags .form-add label,
.product-view .product-additional .block .block-title strong,
.box-up-sell2 h3,
.box-up-sell2 .jcarousel-list h3,
.flexslider .slides .content strong,
.product-slider-container h2,
.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li a,
.replyTitle h2, .commentTitle h2,
.blog-title h1, .postTitle h1,
.postTitle h2, .postTitle h2 a,
.blog-title h1, .postTitle h1,
.block-slider .slides > li strong,
.block-slider .slides > li strong.block-slider-title                            { font-family:"Open Sans"}
/**~~ Theme Color ~~**/
button.button span,
.quick-view,
#fancybox-close:hover,
.map-popup-close:hover,
button.btn-cart.ajax-cart span,
.qty-elements a, div.summary-collapse:before,
.flexslider:hover a:hover,
.btn-remove, .btn-edit,
.cart-top > a,
.cart-top-container .details-border,
.cart-top-title a span.icon,
.compare-top,
.compare-top-container .details-border,
.compare-top-title a span.icon,
.search-top,
.search-form-border,
.search-top-container .search-form .search-top-title span.icon,
.footer-info ul.twitterList li span.tweet-icon,
.footer-info ul.social li a:hover,
.footer-info .block-control:hover,
.footer-info .block-control-hide:hover,
.products-grid .hover .price-box,
.products-grid .hover .button-container button.button span span em,
.products-list .button-container .btn-add-cart span,
.data-table .btn-remove2,
.data-table .btn-edit2,
.top-opc li.allow:hover .number,
.product-view .add-to-links li:hover span.icon,
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active,
#toTop,
.jcarousel-prev-horizontal:hover,
.jcarousel-next-horizontal:hover,
#fancybox-right-ico:hover, #fancybox-left-ico:hover,
.product-view .box-up-sell .jcarousel-next-horizontal:hover,
.product-view .box-up-sell .jcarousel-prev-horizontal:hover,
nav .nav-top-title:hover, .nav-container .nav-top-title:hover,
nav .nav-top-title.active, .nav-container .nav-top-title.active,
nav .nav-top-title div.icon span, .nav-container .nav-top-title div.icon span,
.blog-icon .inner,
.blog-icon .blog-comments:hover,
.block-blog.block-blog-tags li a:hover,
.postWrapper:hover .blog-icon .blog-comments,
.blog-cat-view .blog-img-wrap .blog-img-link-hover,
.blog-index-list .blog-img-wrap .blog-img-link-hover,
.clean_tabs .ui-tabs ul.ui-tabs-nav li:hover:after,
.clean_tabs .ui-tabs ul.ui-tabs-nav li.ui-tabs-active:after,
.tags-list li a:hover,
.block-tags .block-content li a:hover,
.tp-bullets.simplebullets.preview4 .bullet:hover, 
.tp-bullets.simplebullets.preview4 .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover, 
.tp-bullets.simplebullets.round .bullet.selected,
.product-view .box-tags ul.product-tags li:hover                                { background-color:#000000}
.product-view .box-tags ul.product-tags li:hover { border-color:#000000}
.custom .tp-bullet:hover, .custom .tp-bullet.selected{
 background:#000000!important;
}


.tags-list li a:hover,
.block-tags .block-content li a:hover,
.product-view .box-tags ul.product-tags li:hover a                                { border-color:#000000}

/*-- hover --*/
button.button:hover span,
.btn-remove:hover,
.btn-edit:hover,
.quick-view:hover,
.data-table .btn-edit:hover,
.data-table .btn-remove:hover,
.products-grid .hover .button-container button.button:hover span span em        { background-color:#393431;}

button.button_white span                                                        { background-color: #fff;}
button.button_white:hover span                                                  { background:#000000}

/*-- invert styles --*/
button.invert span,
.buttons-set .back-link a,
.cart-shipping button.button span,
.cart-coupon button.button span,
.compare-top-container .details .actions a:before,
.block-compare .block-content .actions a:before                                 { background-color:#393431;}
/*-- invert styles theme hover --*/
button.invert:hover span,
.buttons-set .back-link a:hover,
.cart-shipping button.button:hover span,
.cart-coupon button.button:hover span,

.block .block-content a.shopby_more:hover,
.block .block-content a.shopby_more_hide,
.block .block-content a.shopby_more_hide:hover                                  { background-color:#000000}


/***** iPad Smaller than 959px *****/
@media only screen and (max-width: 959px) {
    #queldoreiNav>li>a, #nav>li>a, #mobile-nav>li>a {border-radius:3px;}
    #queldoreiNav>li>a:hover, #nav>li>a:hover, #mobile-nav>li>a:hover,
    #queldoreiNav>li.over>a, #nav>li.over>a, #mobile-nav>li.over>a,
    #queldoreiNav>li.active>a, #nav>li.active>a, #mobile-nav>li.active>a        { background-color:#000000; color:#fff; border-radius:3px;}
}
/***** iPad Smaller than 479px *****/
@media only screen and (max-width: 479px) {
    .nav-container .nav-top-title                                               { background-color:#000000}
    .nav-container .nav-top-title div.icon span                                 { background-color: #fff;}
    .nav-container .nav-top-title:hover                                         { background-color: #322c29;}
}

.footer-info a,
.price-box .price,
.price-box.map-info a,
.pager .pages li a:hover,
.pager .pages .current,
.cms-contacts-page .contact_block p a,
.toolbar-dropdown ul li a:hover, .toolbar-dropdown ul li.selected a,
.products-grid .add-to-links li span,
.opc h3, .opc h4,
.block-progress dt:before,
#checkout-step-login .block-checkout-register ul.ul li:before
{color:#000000}

.footer-info .information ul li:before, .footer-info ul.disc li:before,
#checkout-step-login .block-checkout-register ul.ul li:before,
.block-progress dt:before                                                       { background-color:#000000}

.cart-top-container .details-border:before                                      { border-color: transparent transparent #000000 transparent;}
.compare-top-container .details-border:before                                   { border-color: transparent transparent #000000 transparent;}
.search-form-border:before                                                      { border-color: transparent transparent #000000 transparent;}
#queldoreiNav>li>a:hover>span,
#queldoreiNav>li.over>a>span,
#queldoreiNav>li.active>a>span,
#nav>li>a:hover>span,
#nav>li.over>a>span,
#nav>li.active>a>span,
#mobile-nav>li>a:hover>span,
#mobile-nav>li.over>a>span,
#mobile-nav>li.active>a>span,
.cart .cart-collaterals .cart-block,
.opc .step,
.block,
.cms-index-index .block,
.block-login,
.cart .cart-collaterals .cart-block,
.cform_wrap,
.white-border-wrap,
.cms-contacts-page .cform_wrap,
.product-tabs li.active,
.product-tabs-container h2.active,
body .ui-accordion h2.ui-state-active, 
body .ui-tabs .ui-tabs-nav li.ui-tabs-active,
add-comments,
#customer-reviews                                                               { border-top-color:#000000;}

body .clean_tabs .ui-accordion h2.ui-state-active                               { border-top-color:#000000;}

/** links hover color **/
.page-title a.link-reorder:hover,.page-title a.link-print:hover,
.box-account .box-head a:hover,
.dashboard .box-reviews li.item a:hover,
.dashboard .box .box-title a:hover,
.box-content address a:hover,
.addresses-list a:hover,
.header-container .links li a:hover,
.block .block-content a:hover, .block .block-content li a:hover, .block .block-content li.item a:hover,
.cms-index-index .block .block-content a:hover, .cms-index-index .block .block-content li a:hover, .cms-index-index .block .block-content li.item a:hover,
.block-layered-nav .block-content dd li a:hover,
body.blog-post-view .postView .postDetails > div a:hover,
.no-rating a:hover, .ratings a:hover,
button.aw-blog-read-more span span,
.product-view .box-up-sell .product-name:hover,
.data-table td a:hover                                                          { color:#000000}


.header-container, header.fixed                                                 { background-color:#ffffff}

#queldoreiNav > li > a, #nav > li > a, #mobile-nav > li > a                     { color:#373230}

.slider {background-color:#f4f4f2}

body, .main-container, .footer-container .product-slider-container {background-color:#fafafa}
.block .block-content a, .block .block-content li a, .block .block-content li.item a,
.cms-index-index .block .block-content a, .cms-index-index .block .block-content li a, .cms-index-index .block .block-content li.item a,
.block-layered-nav .block-content dd li a,
.no-rating a, .ratings a,
.product-view .box-up-sell .product-name,
.data-table td a:hover, .data-table td .product-name a                          { color:#322c29}
.data-table td .product-name a                                                  { color:#322c29}

.block-tags .block-content li a,
.product-view .box-tags ul.product-tags li,
.product-view .box-tags ul.product-tags li a                                    { color:rgba(50,44,41, 0.76)}
.page-title a.link-reorder:hover,.page-title a.link-print:hover,
.box-account .box-head a:hover,
.dashboard .box-reviews li.item a:hover,
.dashboard .box .box-title a:hover,
.box-content address a:hover,
.addresses-list a:hover,
.block .block-content a:hover, .block .block-content li a:hover, .block .block-content li.item a:hover,
.cms-index-index .block .block-content a:hover, .cms-index-index .block .block-content li a:hover, .cms-index-index .block .block-content li.item a:hover,
.block-layered-nav .block-content dd li a:hover,
.no-rating a:hover, .ratings a:hover,
.product-view .box-up-sell .product-name:hover,
.postTitle h2 a:hover,
.postWrapper:hover .postTitle h2 a,
.data-table td a, .data-table td .product-name a:hover                          { color:#000000}
.block-tags .block-content li a:hover,
.product-view .box-tags ul.product-tags li:hover,
.product-view .box-tags ul.product-tags li:hover a                              { color:#fff;}


.page-title-bg,
.col-main-wrap > .blog-title:before,
.page-title:before, .breadcrumbs:before, .page-head h3:before, .product-category-title:before {background-color:#f5f5f3}

.slider-container:before {background-color:#ededed}
.slider-container:before {border-top-color:#e1e1e1}

.top-switch-bg {background-color:#f9f9f9}
.header-switch span.current {color:#1d1c1b}
.header-container .links li a, .header-switch span {color:rgba(29,28,27, 0.65)}

.footer-container {background-color:#322c29}
.footer-container, footer a, footer ul.links li a {color:#666666}
.footer-banners {background-color:#f7f7f6}
.footer-info {background-color:#f4f4f2}
.footer-info {border-top-color:#ececea}
.footer-info, .footer-info ul.twitterList li {color:#666666}
.footer-info ul.twitterList li span.time-ago {color:rgba(102,102,102, 0.85)}

/*.price-box .price, .price-box.map-info a {font-family:""}
*/


.products-grid .hover .price-box {background-color:#ffd700}

#slide-timeline {background-color:#322c29}
   

#queldoreiNav > li > a:hover, #queldoreiNav > li.active > a, #queldoreiNav > li.over > a,
#nav > li > a:hover, #nav > li.active > a, #nav > li.over > a,
#mobile-nav > li > a:hover, #mobile-nav > li.active > a, #mobile-nav > li.over > a {color:#373230}


.compare-top-title, .compare-top-container,
.products-grid .add-to-links a.link-compare,
.products-list .add-to-links li:last-child,
.product-view .add-to-links li.compare {display:none !important}


/** Brands slider **/
.brands-slider-container ul.brands li{width:96px;}
.brands-slider-container .jcarousel-clip-horizontal{margin:0 24px;}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
.brands-slider-container .jcarousel-clip-horizontal{margin:0;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.brands-slider-container .jcarousel-clip-horizontal{margin:0;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.brands-slider-container .jcarousel-clip-horizontal{margin:0 36px;}
}
@media only screen and (max-width: 479px) {
.brands-slider-container .jcarousel-clip-horizontal{margin:0 6px;}
}


/**~~ helper classes ~~**/
	.shopper-font {font-family:"Open Sans"}
	.shopper-color {color:#000000}
	.shopper-bgcolor {background-color:#000000}
	.shopper-menucolor {color:#373230}
	.shopper-content_bg {background-color:#fafafa}
	.shopper-content_link {color:#322c29}
	.shopper-content_link_hover {color:#000000}
	.shopper-page_title_bg {background-color:#f5f5f3}
