<?php
/**
 * @see Mage_Page_Block_Html_CookieNotice
 */

$dismissUrl = $this->getUrl('tmamp/cookie/allow', array(
    '_secure' => true,
));
$shouldShowUrl = $this->getUrl('tmamp/cookie/shouldShowNotification', array(
    '_secure' => true,
    '_query' => array(
        'timestamp' => 'TIMESTAMP',
    ),
));
//data-show-if-href="<?php echo $shouldShowUrl"
?>

<?php if (Mage::helper('core/cookie')->isUserNotAllowSaveCookie() &&
            Mage::getStoreConfigFlag('tmamp/web/cookie_restriction')): ?>
    <amp-user-notification
        layout="nodisplay"
        id="amp-cookie-notice"
        data-dismiss-href="<?php echo $dismissUrl ?>">
        <?php echo $this->getCookieRestrictionBlockContent(); ?>
        <div class="actionbar">
            <button class="button" on="tap:amp-cookie-notice.dismiss"><?php echo $this->__('Allow') ?></button>
        </div>
    </amp-user-notification>
<?php endif; ?>
