<?php
    $_cartQty = $this->getSummaryCount();
    if(empty($_cartQty)) {
        $_cartQty = 0;
    }
?>

<div class="minicart<?php echo ($_cartQty > 0) ? ' badge' : ''?>" data-badge="<?php echo $_cartQty ?>">
    <a class="cart-icon"
        href="<?php echo $this->helper('checkout/cart')->getCartUrl(); ?>"
    ><?php echo $this->__('Cart'); ?></a>
</div>
