<?php
$hasNeedApprovalPermission = Mage::helper('cminds_multiuseraccounts')->hasNeedApprovalPermission();
$quote = Mage::getSingleton("checkout/session")->getQuote();
?>
<?php if($hasNeedApprovalPermission): ;?>
    <?php if(!Mage::helper('cminds_multiuseraccounts')->isQuoteApproved($quote->getId())): ?>
        <form name="send_for_approve" id="send_for_approve" action="<?php echo $this->getUrl("multiuseraccounts/approve/sendaskforapprove")?>" method="post">
            <input type="submit" class="button" value="<?php echo $this->__('Send for Approval'); ?>" />
        </form>
    <?php else: ?>
        <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Place Order')) ?>" class="button btn-checkout" onclick="review.save();"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
    <?php endif; ?>
<?php else: ?>
    <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Place Order')) ?>" class="button btn-checkout" onclick="review.save();"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
<?php endif; ?>