<?php
    $_productCollection = $this->getLoadedProductCollection();
    $_helper            = $this->helper('catalog/output');
    $_collectionSize    = $_productCollection->count();
    $_columnCount       = $this->getColumnCount();
    $this->getToolbarBlock()->setData('_current_grid_mode', 'grid');
    $this->helper('argento/product_list')->initChildren($this);
?>
<?php if (!$_collectionSize) : return; endif; ?>
<div class="row carousel-highlight <?php echo ($_collectionSize > $_columnCount) ? 'multirow' : ''; ?>">
    <div class="col-md-3 block-highlight <?php echo $this->getClassName() ?>" >
        <div class="block-title"><span><?php echo $this->__($this->getTitle()) ?></span></div>
    <?php if ($this->getPageUrl() && (string)$this->getPageTitle()) : ?>
        <div class="page-link">
            <button type="button" class="button" onclick="setLocation('<?php echo $this->getPageUrl() ?>')"><span><span><?php echo $this->__((string)$this->getPageTitle()) ?></span></span></button>
        </div>
    <?php endif; if ($titleImage = $this->getTitleImageUrl()): ?>
        <div class="block-image" style="background-image: url(<?php echo $titleImage; ?>);"></div>
    <?php endif;?>
    </div>
    <div
        class="col-md-9 category-products block-highlight slick <?php echo $this->getClassName() ?>"
        data-slick='<?php echo $this->helper('highlight')->getSlickCarouselData($this->getData()); ?>'
    >
        <div class="block-content">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
            <?php if ($i++%$_columnCount==0): ?>
            <ul class="products-grid cols-<?php echo $_columnCount ?>">
            <?php endif ?>
                <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <div class="main-info">
                        <h2 class="product-name product-name-top"><a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                        <div class="prolabel-wrapper">
                            <?php echo $this->getChild('product.image')->setProduct($_product)->toHtml(); ?>
                            <?php echo $this->getChild('add.to.links')->setProduct($_product)->toHtml(); ?>
                        </div>
                        <h2 class="product-name product-name-bottom"><a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                        <?php if (Mage::helper('core')->isModuleOutputEnabled('TM_ProLabels')) : ?>
                            <?php echo $this->getLayout()->createBlock('prolabels/category')->setProduct($_product)->toHtml(); ?>
                        <?php endif; ?>
                        <?php if($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true, $this->getPriceSuffix()) ?>
                    <?php if (!$this->helper('argento/product_list')->isCollateralInfoDisabled()): ?>
                        </div>
                        <div class="collateral-info">
                    <?php endif ?>
                        <?php echo $this->getChild('actions')->setProduct($_product)->toHtml(); ?>
                    </div>
                </li>
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            </ul>
            <?php endif ?>
            <?php endforeach ?>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last']);</script>
        </div>
        <div class="block-content loading">
            <div class="spinner">
                <div class="part1"></div>
                <div class="part2"></div>
                <div class="part3"></div>
            </div>
        </div>
    </div>
</div>
