<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    $_id = str_replace(' ', '_', $this->getClassName());
    $_imgSize  = $this->getImgSize() ? $this->getImgSize() : 210;
    if (!$this->getImgWidth()) $this->setImgWidth($_imgSize);
    if (!$this->getImgHeight()) $this->setImgHeight($_imgSize);
    $_keepFrame = ($this->getKeepFrame() !== null) ? $this->getKeepFrame() : true;
    if (!$_keepFrame) $this->setImgHeight(null);
    $this->setImageKeepFrame($_keepFrame);
    $this->getToolbarBlock()->setData('_current_grid_mode', 'list');
    $this->helper('argento/product_list')->initChildren($this);
?>
<?php if(!$_productCollection->count()): return; endif; ?>

<div class="category-products block-highlight <?php echo $this->getClassName() ?>">
    <div class="block-title"><span><?php echo $this->__($this->getTitle()) ?></span></div>
    <div class="block-content">
        <?php $_iterator = 0; ?>
        <ol class="products-list" id="<?php echo $_id ?>">
        <?php foreach ($_productCollection as $_product): ?>
            <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                <div class="prolabel-wrapper">
                    <?php echo $this->getChild('product.image')->setProduct($_product)->toHtml(); ?>
                </div>
                <?php // Product description ?>
                <div class="product-shop">
                    <div class="f-fix">
                        <div class="product-primary">
                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                            <?php if (Mage::helper('core')->isModuleOutputEnabled('TM_ProLabels')) : ?>
                                <?php echo $this->getLayout()->createBlock('prolabels/category')->setProduct($_product)->toHtml(); ?>
                            <?php endif; ?>
                            <?php if($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product) ?>
                            <?php endif; ?>
                            <?php
                            // Provides extra blocks on which to hang some features for products in the list
                            // Features providing UI elements targeting this block will display directly below the product name
                            if ($this->getChild('name.after')) {
                                $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                    $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                    $_nameAfterChild->setProduct($_product);
                                    echo $_nameAfterChild->toHtml();
                                }
                            }
                            ?>
                        </div>
                        <div class="product-secondary">
                            <?php echo $this->getPriceHtml($_product, true) ?>
                            <?php echo $this->getChild('actions')->setProduct($_product)->toHtml(); ?>
                            <?php echo $this->getChild('add.to.links')->setProduct($_product)->toHtml(); ?>
                        </div>
                        <div class="desc std">
                            <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                        </div>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('<?php echo $_id ?>', 'none-recursive')</script>
        <?php if ($this->getPageUrl() && (string)$this->getPageTitle()) : ?>
            <div class="page-link">
                <a href="<?php echo $this->getPageUrl() ?>"><?php echo $this->__((string)$this->getPageTitle()) ?></a>
            </div>
        <?php endif ?>
    </div>
</div>
