<div id="ajaxpro-notice-form" class="ajaxpro-form" style="display:none">
    <?php $title = $this->__('Close Window')?>
    <a href="javascript:void(0)" class="btn-close ajaxpro-button" title="<?php echo $title?>"><?php echo $title?></a>
    <div id="messages_product_view">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    </div>
    <div id="ajaxpro-addcustomproduct-view">
        <?php
            $_product = $this->getProduct();
            if ($_product) :
            $_helper = $this->helper('catalog/output');
        ?>
        <script type="text/javascript">
            var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
        </script>
        <div class="product-view">
            <div class="product-essential">
            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <div class="no-display">
                    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                    <input type="hidden" name="related_product" id="related-products-field" value="" />
                </div>

                <div class="product-img-box">
                    <?php echo $this->getChild('media')
                        ->setTemplate("tm/ajaxpro/catalog/product/view/media.phtml")
                        ->toHtml()
                    ?>
                </div>

                <div class="product-shop">
                    <div class="product-name">
                        <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    </div>

                    <?php if (false && $this->canEmailToFriend()): ?>
                        <p class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
                    <?php endif; ?>

                    <?php if (false) : ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
                    <?php endif ?>

                    <?php echo $this->getChildHtml('alert_urls') ?>
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php echo $this->getTierPriceHtml() ?>

                    <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box">
                            <?php if($_product->isSaleable()): ?>
                                <?php echo $this->getChildHtml('addtocart') ?>
                                <?php if (false && ($this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product))): ?>
                                    <span class="or"><?php echo $this->__('OR') ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php //echo $this->getChildHtml('addto') ?>
                        </div>
                    <?php else: ?>
                        <?php //echo $this->getChildHtml('addto') ?>
                    <?php endif; ?>

                    <?php if (false && $_product->getShortDescription()):?>
                        <div class="short-description">
                            <h2><?php echo $this->__('Quick Overview') ?></h2>
                            <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                        </div>
                    <?php endif; ?>

                    <?php echo $this->getChildHtml('other');?>

                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                    <?php endif;?>
                </div>

                <div class="clearer"></div>
                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                <?php endif;?>
            </form>
            <script type="text/javascript">
            //<![CDATA[
                if ('undefined' == typeof productAddToCartForm) {
                    var form =  $$('#ajaxpro-notice-form #product_addtocart_form').first();
                    productAddToCartForm = new VarienForm(form);
                }
                productAddToCartForm.submit = function(){
                    if (this.validator.validate()) {
                        this.form.submit();
                    }
                }.bind(productAddToCartForm);
            //]]>
            </script>
            </div>
            <?php echo $this->getChildHtml('ajaxpro_additional') ?>
            <?php if (false) : ?>
                <div class="product-collateral">
                    <?php echo $this->getChildHtml('description') ?>
                    <?php echo $this->getChildHtml('additional') ?>
                    <?php echo $this->getChildHtml('upsell_products') ?>
                    <?php echo $this->getChildHtml('product_additional_data') ?>
                </div>
            <?php endif ?>
        </div>
        <?php endif; ?>
    </div>
</div>
