<?php
    $side = Mage::helper('tmamp')->isRtl() ? 'left' : 'right';
?>
<amp-sidebar id="sidebar" side="<?php echo $side ?>" layout="nodisplay">
    <div class="nav-toolbar">
        <div class="nav-left">
            <?php echo $this->getChildHtml('store_language') ?>
        </div>
        <div class="nav-right">
            <button class="hamburger" id="menu-button" on="tap:sidebar.toggle"></button>
        </div>
    </div>
    <nav>
        <amp-accordion>
            <?php $links = trim($this->getChildHtml('welcomeLinks')); ?>
            <?php if ($links) : ?>
                <section class="links" expanded>
                    <h4 class="heading"><?php echo $this->getChildHtml('welcome') ?></h4>
                    <div class="content"><?php echo $links ?></div>
                </section>
            <?php endif ?>

            <?php $navigation = trim($this->getChildHtml('topMenu')); ?>
            <?php if ($navigation) : ?>
                <section class="navigation" expanded>
                    <h4 class="heading"><?php echo $this->__('Browse By') ?></h4>
                    <div class="content"><?php echo $navigation ?></div>
                </section>
            <?php endif ?>
        </amp-accordion>
    </nav>
</amp-sidebar>
