.easyslide-link {
    display: block;
}

.swiper-slide img {
    width: 100%;
}

.swiper-slide-descr {
    position: absolute;
    overflow: hidden;
    padding: 14px 20px;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
}
.swiper-slide-descr-top    { top: 0; left: 0; width: 100%; }
.swiper-slide-descr-bottom { bottom: 0; left: 0; width: 100%; }
.swiper-slide-descr-right  { right: 0; top: 0; width: 200px; min-height: 1000px; }
.swiper-slide-descr-left   { left: 0; top: 0; width: 200px; min-height: 1000px; }
.swiper-slide-descr-center { left: 50%; top: 0; width: 200px; margin-left: -100px; min-height: 1000px; }
.swiper-slide-descr-light { background: rgba(256, 256, 256, 0.75); color: #000; }
.swiper-slide-descr-dark { background: rgba(0, 0, 0, 0.75); color: #fff; }
.swiper-slide-descr-tranparent { color: #000; }

.swiper-slide-descr a { text-decoration: none; color: #5a5a5a; }
.swiper-slide-descr a:hover { text-decoration: underline; }
.swiper-slide-descr p { line-height: 20px; text-align: center; }

.swiper-slide-active .swiper-slide-descr {
    opacity: 1;
}

.swiper-pagination {
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container-vertical .swiper-pagination {
    flex-direction: column;
}

/* Blue theme fix */
.swiper-pagination-bullet { background: #007aff; }
.easyslide-dark .swiper-pagination-bullet { background: #000; }
.easyslide-light .swiper-pagination-bullet { background: #fff; }

.swiper-pagination-bullet { width: 11px; height: 11px; background: #007aff; }
.swiper-pagination-bullet:hover { opacity: 0.4; }
.swiper-pagination-bullet-active,
.swiper-pagination-bullet-active:hover { opacity: 0.9; }

.swiper-button-next,
.swiper-button-prev { opacity: 0.8; }

.easyslide-dark .swiper-button-next,
.easyslide-dark .swiper-button-prev {
    opacity: 0.5;
}
