<?php
    $slider = $this->getSlider();
    $slides = $slider->getSlidesCollection();
    if (count($slides) < 1) return;

    $sliderSize = '';
    if ($slider->getWidth() || $slider->getHeight()) {
        $sliderSize = sprintf(
            'style="%s%s"',
            $slider->getWidth() ? sprintf("max-width: %spx;", $slider->getWidth()) : '',
            $slider->getHeight() ? sprintf("max-height: %spx;", $slider->getHeight()) : ''
        );
    }
?>

<div class="swiper-container easyslide-<?php echo $slider->getTheme();?>" id="slider-<?php echo $slider['easyslide_id'];?>" <?php echo $sliderSize;?> data-config='<?php echo $this->getSliderConfig();?>'>
    <div class="swiper-wrapper">
    <?php $i = 0; foreach ($slides as $slide): $i++; ?>
        <?php $image_src = $this->getSlideImageUrl($slide->getUrl());?>
        <div class="swiper-slide">
            <a href="<?php echo $slide->getTarget() ?>" class="easyslide-link <?php echo $this->getSlideClassName($slide) ?>">
            <?php if ($this->isLazyLoadingEnabled() && $i > 1) :?>
                <img data-src="<?php echo $image_src; ?>" alt="<?php echo $this->escapeHtml($slide->getImage()) ?>" class="swiper-lazy"/>
                <div class="swiper-lazy-preloader swiper-lazy-preloader-black"></div>
            <?php else : ?>
                <img src="<?php echo $image_src; ?>" alt="<?php echo $this->escapeHtml($slide->getImage()) ?>"/>
            <?php endif; ?>
            </a>
        <?php if ($slide->getDescription()) : ?>
            <div class="swiper-slide-descr <?php echo $this->getDescriptionClassName($slide->getDescPos()); ?> <?php echo $this->getBackgroundClassName($slide->getBackground()); ?>"><?php echo $this->filterDescription($slide->getDescription()) ?></div>
        <?php endif; ?>
        </div>
    <?php endforeach; ?>
    </div>
<?php if ($slider->getControlsType() == 'number'): ?>
    <!-- Add Pagination -->
    <div class="swiper-pagination <?php echo $this->getControlsStyle('pagination');?>"></div>
<?php elseif ($slider->getControlsType() == 'arrow'): ?>
    <!-- Add Arrows -->
    <div class="swiper-button-next <?php echo $this->getControlsStyle('button');?>"></div>
    <div class="swiper-button-prev <?php echo $this->getControlsStyle('button');?>"></div>
<?php elseif ($slider->getControlsType() == 'all'): ?>
    <!-- Add Pagination -->
    <div class="swiper-pagination <?php echo $this->getControlsStyle('pagination');?>""></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next <?php echo $this->getControlsStyle('button');?>"></div>
    <div class="swiper-button-prev <?php echo $this->getControlsStyle('button');?>"></div>
<?php endif; ?>
</div>
