<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_toolbar')->toHtml(); ?>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_cms')->toHtml(); ?>
<div class="footer-container">
    <div class="footer">
        <?php echo $this->getChildHtml() ?>
        <address><?php echo $this->getCopyright() ?></address>
    </div>
</div>
