<div class="page-title">
    <h1 class='h1_opc'><?php echo Mage::getStoreConfig('onepagecheckout/general/title') ?></h1>
   <?php echo $this->__('Fyll inn skjemaet under for &aring; fullf&oslash;re din handel!') ?> 
    <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()){ ?>
    <p class="onepagecheckout_loginarea">
        <a href="javascript:void(0)" class="onepagecheckout_loginlink" onclick='open_login();'>
            <?php echo $this->__('Allerede registrert? Klikk her for å logge inn') ?>
        </a>
    </p>
    
	<?php 
	
		echo $this->getChildHtml('customer.login');
		echo $this->getChildHtml('customer.forgot');
	
    }    
    ?>
</div>
<div class='ptdivline'></div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php
$seq_http	= (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS']==='on');

$mag_version	= Mage::helper('onepagecheckout')->getMagentoVersion();
$mod_version	= Mage::helper('onepagecheckout')->getOPCVersion();

?>
<script type="text/javascript">
	var http_type	= '<?php if($seq_http){echo 'https';}else{echo 'http';}?>';
	
	var mag_ver	= '<?php echo $mag_version;?>';
	var mod_ver	= '<?php echo $mod_version;?>';
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/onepagecheckout.js') ?>"></script>

<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>

<form action="" id="onepagecheckout_orderform">
	<div id="disabled-div"></div>
	<div class="col3-set onepagecheckout_datafields">
	  <div style=" display:block; overflow:hidden; border-top:1px solid #000; margin-top:15px;">
	    <div class="sep_col1">1. Leveringsadresse</div> 
	    <div class="sep_col2">2. Levering og betaling</div>
	    <div class="sep_col3">3. Se over din ordre </div>
	    </div>
	    <div class="col-1">
	        <?php echo $this->getChildHtml('billing.address') ?>
	        <?php echo $this->getChildHtml('shipping.address') ?>
	    </div>
	   
	
	    	
	    <div class="col-2">
	        <?php echo $this->getChildHtml('shipping.method') ?>
	        <?php echo $this->getChildHtml('payment.method') ?>
	       
	<!--       
		 <div id="checkout-coupon-discount-load">
	            <?php // echo $this->getChildHtml('coupon') ?>
	        </div>
	-->
	
	     
			<?php if (Mage::helper('onepagecheckout')->isSubscribeNewAllowed()) : ?>
	            <p class="newsletter">
	                <input type="checkbox" id="newsletter-signup" name="newsletter" value="1" title="<?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>" class="checkbox" />
	                <label for="newsletter-signup">
	                    <?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>
	                </label>
	            </p>
	        <?php endif; ?>
	    </div>
	    
	   	
	    <div class="col-3">
	        <?php echo $this->getChildHtml('review') ?>
	
		   <?php if (Mage::getStoreConfig('onepagecheckout/general/comment')) : ?>
			<div class="op_block_title">
		    	<?php echo $this->helper('sales')->__('Comment') ?>
		    </div>        
	        <div class="form_fields">
	            <div class="full">
			<span style=" border-bottom: 1px solid #848484; color: #000000; font-size: 13px; font-weight: bold; padding: 10px 0;  text-transform: uppercase; vertical-align: middle; white-space: nowrap;" >Kommentar til din bestilling</span>
	                <div class="data_area" id='comment-block'>
	                    <textarea title="Kommentar til din bestilling" name="order-comment" id="order-comment"><?php echo trim(Mage::getSingleton('customer/session')->getOrderCustomerComment()) ?></textarea>
	                </div>
	            </div>
	        </div>
	        <?php endif; ?>
	    </div>
	</div>
	
</form>

<script type="text/javascript">
//<![CDATA[
    var checkout = new OPC('onepagecheckout_orderform', {
    	save    : '<?php echo $this->getUrl('onepagecheckout/index/saveOrder', array('_secure'=>$seq_http)) ?>',
    	update  : '<?php echo $this->getUrl('onepagecheckout/index/updateCheckout', array('_secure'=>$seq_http)) ?>',
        success : '<?php echo $this->getUrl('onepagecheckout/index/success', array('_secure'=>$seq_http)) ?>',
        failure : '<?php echo $this->getUrl('checkout/cart') ?>'
    }, "<?php echo $this->__('Please agree to all the terms and conditions.') ?>");

    document.observe("dom:loaded", function() {
        var win_triggers	= Array();
   		$$('.checkout-agreements .agree a').each(function(item){
   			var obj	= {
   				el: $$('.' + item.className),
   		   		event: 'click',
				window: $(item.className + '-window')
			};
   			win_triggers.push(obj);
        });
		opc_window	= new OPC.Window({triggers: win_triggers});
    });
//]]>
</script>