<?php
    $entity = Mage::helper('tm_seotemplates')->getCodes('entity_type');
?>
<style>
    .fieldset .directives-description > li { margin-bottom: 1.5em; }
    .fieldset .directives-description > li pre { display: inline; font-style: italic; background-color: #eee; }
    .fieldset .directives-description > li strong pre { font-style: normal; background-color: transparent; }
    .fieldset .directives-description > li.comment { font-size: .8em; padding: 0 0 0 10px; margin-bottom: 0; }
    .fieldset .directives-description > li.comment:before { content: '* '; color: red; }
    .fieldset .directives-description > li.comment.two-stars:before { content: '** '; }
    .fieldset .directives-description > li.usage-example ul { margin-left: 40px; list-style: circle; }
</style>
<ul class="directives-description">
    <li>
        <strong><pre>{{attribute code="..." [prefix="..."] [sufix="..."] [exclude="..."] [limit="..."] [separator="..."]}}</pre></strong> - value of attribute by its code. You can set multiple codes separated with comma. It will return first not empty value. For example, some of your products have attribute <pre>manufacturer</pre> and other have - <pre>brand</pre>. In such case you can use <pre>{{attribute code="brand,manufacturer"}}</pre>.
    <?php if ($this->getEntityType() == $entity['product']): ?>
        With configurable product this directive can return values of attribute from child products. You can set max number of values (<pre>limit="5"</pre>) and separator (<pre>separator=", "</pre>).
    <?php endif; ?>
        <pre>exclude</pre> option allows you to exclude some values from output. It can containe multiple values separated with comma.
    </li>
    <li>
        <strong><pre>{{ifexist code="..." [then="..."] [else="..."]}}</pre></strong> - condition directive returns <pre>then</pre> if attribute with code <pre>code</pre> has value. Otherwise it returns <pre>else</pre>.
    </li>
<?php if ($this->getEntityType() == $entity['product']): ?>
    <li>
        <strong><pre>{{price [prefix="..."] [sufix="..."]}}</pre></strong> - product price.
    </li>
<?php elseif ($this->getEntityType() == $entity['category']): ?>
    <li>
        <strong><pre>{{products attribute="..." [prefix="..."] [sufix="..."] [exclude="..."] [limit="..."] [separator="..."]}}</pre></strong> - get values of attribute with code <pre>attribute</pre> from category products. You can set max number of values (<pre>limit</pre>) and separator (<pre>separator</pre>). With <pre>exclude</pre> option you can exclude some values from output.
    </li>
    <li>
        <strong><pre>{{subcats [prefix="..."] [sufix="..."] [exclude="..."] [limit="..."] [separator="..."]}}</pre></strong> - get get subcategories for category. You can set max number of subcategories to output (<pre>limit</pre>) and separator (<pre>separator</pre>). With <pre>exclude</pre> option you can exclude some subcategories from output by their names.
    </li>
    <li>
        <strong><pre>{{minprice [prefix="..."] [sufix="..."]}}</pre></strong> - mininal price among all category products.
    </li>
<?php endif; ?>
    <li class="usage-example">
        Template for products <pre>{{attribute code="gender"}} {{attribute code="name"}} by {{attribute code="brand,manufacturer"}} {{price prefix="for $"}}</pre> can generate next strings:
        <ul>
            <li>Male Air Max by Nike for $89.99</li>
            <li>Air Max by Nike for $89.99 - there is no attribure gender for product or it is not set</li>
            <li>Male Air Max by Nike - product has no price (e.g. grouped product)</li>
        </ul>
    </li>
    <li class="comment">
        With <pre>sufix</pre> and <pre>prefix</pre> options you can add some text before or after output. Works only when output is not empty.
    </li>
    <li class="comment two-stars">
        Directive options in square brackets (<pre>[...]</pre>) are optional.
    </li>
</ul>
