{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <p><strong>{{var sender_name}}</strong> ({{var sender_email}}) has shared you a shopping cart which you can use at <strong>{{var website_name}}</strong></p>
                        <p><a href="{{var link_to_cart}}">Click here</a> to accept cart and transfer to you account. Please remember that once you accept it, items in your current cart will be removed and new items will be added. </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="order-details">
            <p>Shared on {{var date}}</p>
            <h3>Cart Items:</h3>
        </td>
    </tr>
    <tr class="order-information">
        {{layout handle="multiuseraccounts_email_transfered_cart" quote=$quote}}
    </tr>
</table>

{{template config_path="design/email/footer"}}