<?php
/**
 * @var Cminds_MultiUserAccounts_Block_SubAccount $this
 */
?>
<?php
$subAccounts = $this->getItems();
$yesNoSourceModel = Mage::getModel('adminhtml/system_config_source_yesno')
    ->toArray();
$shareSession = Mage::helper('cminds_multiuseraccounts')->ifShareSession();
?>
<div class="dashboard">
    <div class="page-title">
        <h1><?php echo $this->__('Manage Users') ?></h1>
    </div>

    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <button style="margin-bottom: 2px;"
            type="button"
            title="<?php echo $this->__('Add User') ?>"
            class="button"
            onclick="window.location='<?php echo $this->getAddSubAccountUrl() ?>';">
        <span><span><?php echo $this->__('Add User') ?></span></span>
    </button>

    <?php echo $this->getChildHtml('pager'); ?>

    <?php if (count($subAccounts)) : ?>
        <table class="data-table" id="manage-users-table">
            <thead>
                <tr>
                    <th style="white-space: normal"><?php echo $this->__('Email') ?></th>
                    <th style="white-space: normal"><?php echo $this->__('Name') ?></th>
                    <th style="white-space: normal"><?php echo $this->__('Permissions') ?></th>
                    <?php if (!$shareSession) : ?>
                        <th></th>
                    <?php endif ?>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <?php $_odd = ''; ?>
            <?php foreach ($subAccounts as $subAccount): ?>
                <?php $subaccountId = $subAccount->getId() ?>
                <tr>
                    <td><?php echo $this->escapeHtml($subAccount->getEmail()) ?></td>
                    <td><?php echo $this->escapeHtml($subAccount->getName()) ?></td>
                    <td>
                        <?php $sortedPermissions = $this->getSortedPermissions($subAccount);?>
                        <ul style="list-style-type:circle;margin-left:20px;">
                            <li>
                                <?php echo $this->escapeHtml($subAccount->getPermissionLabel()) ?>
                            </li>
                            <?php foreach ($sortedPermissions as $permission) :?>
                                <li <?php echo($subAccount->getData($permission) != '1')?' class="not-available"':'';?>>
                                    <?php
                                    $maxApproveAmount = null;
                                    if ($permission == "is_approver" && $subAccount->getData($permission) == 1 && $subAccount->getMaxAmountToApprove()) :
                                        $maxApproveAmount = sprintf(" (up to %s)", Mage::helper('core')->currency($subAccount->getMaxAmountToApprove(), true, false));
                                    endif;
                                    echo sprintf(
                                        '%s - %s%s',
                                        $this->getPermissionLabelByCode($permission),
                                        $yesNoSourceModel[$subAccount->getData($permission)],
                                        $maxApproveAmount
                                    );
                                    ?>
                                </li>
                            <?php endforeach;?>
                            <?php if ($subAccount->hasOrderLimit()) : ?>
                                <li>
                                    <?php
                                    echo sprintf(
                                        '%s - %s per %s',
                                        $this->__('Limit Order Amount'),
                                        Mage::helper('core')->currency($subAccount->getData('order_amount_limit_value'), true, false),
                                        $this->getLimitOptionText($subAccount->getData('order_amount_limit'))
                                    );
                                    ?>
                                </li>
                                <?php echo $this->getBalanceButton($subAccount); ?>
                            <?php endif ;?>
                        </ul>
                    </td>
                    <?php if (!$shareSession) : ?>
                        <td>
                            <a href="<?php echo $this->getShowCartItemUrl($subaccountId); ?>"><?php echo $this->__('Cart') ?></a>
                            <?php if ($this->hasNeedApprovalPermission($subaccountId) && $this->canApproveCart($subaccountId)) : ?>
                                <?php $isApproved = $this->isQuoteApproved($subaccountId); ?>
                                <?php if ($isApproved === false) : ?>
                                    <a href="<?php echo $this->getShowCartItemUrl($subaccountId); ?>"
                                       style="color:red;display:block;"><?php echo $this->__('Approve') ?></a>
                                <?php elseif($isApproved === true) : ?>
                                    <a href="<?php echo $this->getShowCartItemUrl($subaccountId); ?>"
                                       style="color:green;display:block;"><?php echo $this->__('Approved') ?></a>
                                <?php endif; ?>
                            <?php endif; ?>
                        </td>
                    <?php endif ?>
                    <td>
                        <?php
                        $loginAsSubaccountUrl = $this
                            ->getLoginAsSubaccountUrl($subaccountId);
                        ?>
                        <a href="<?php echo $loginAsSubaccountUrl ?>"
                           title="<?php echo $this->__('Login As This Subaccount') ?>"
                           style="display:block;"><?php echo $this->__('Login') ?></a>
                        <a href="<?php echo $this->getEditSubAccountUrl($subaccountId); ?>"
                           title="<?php echo $this->__('Edit This Subaccount') ?>"
                           style="display:block;"><?php echo $this->__('Edit') ?></a>
                        <a href="<?php echo $this->getDeleteSubAccountUrl($subaccountId); ?>"
                           title="<?php echo $this->__('Delete This Subaccount') ?>"
                           style="display:block;"><?php echo $this->__('Delete') ?></a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <script
            type="text/javascript">decorateTable('manage-users-table')</script>
    <?php else : ?>
        <p style="padding: 20px;"><?php echo $this->__('No User Found') ?></p>
    <?php endif; ?>

    <?php echo $this->getChildHtml('pager'); ?>
</div>
<script type="text/javascript">
    function checkOrderBalance(id)
    {
        new Ajax.Request('<?php echo Mage::getUrl('multiuseraccounts/subaccount/checkbalance') ?>' + id, {
            method: 'post',
            parameters: {id: id},
            dataType: "json",
            onSuccess: function(transport) {
                $$('span[data-subaccount-id="' + id + '"]')[0].innerHTML = transport.responseText;
            }
        });
    }
</script>