<?php
$_helper = $this->helper('catalog/product_compare');
$_items = $_helper->getItemCount() > 0 ? $_helper->getItemCollection() : null;
?>
<?php if ($_items): ?>
<div class="minicompare badge" data-badge="<?php echo $_helper->getItemCount() ?>">
    <a class="compare-icon"
        href="<?php echo $_helper->getListUrl() ?>"
    ><?php echo $this->__('Compare'); ?></a>
</div>
<?php endif; ?>
