<div class="page-title">
    <h1><?php echo $this->__('Compare Products') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<?php $_total=$this->getItems()->count() ?>
<?php if($_total): ?>
<div class="table-responsive">
    <table class="data-table compare-table" id="product_comparison">
        <tbody>
        <tr>
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                    <th>&nbsp;</th>
                <?php endif; ?>
                <td>
                    <div class="product-image">
                        <amp-img
                            src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>"
                            width="125"
                            height="125"
                            layout="fixed"
                            alt="<?php echo $this->stripTags($_item->getName(), null, true) ?>"
                        ></amp-img>

                        <?php if ($_total>2): ?>
                            <a href="<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>" class="btn-remove" title="<?php echo $this->quoteEscape($this->__('Remove This Item')) ?>"><?php echo $this->quoteEscape($this->__('Remove This Item')) ?></a>
                        <?php endif ?>
                    </div>
                    <h2 class="product-name"><a href="<?php echo $this->getProductUrl($_item) ?>" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></h2>
                </td>
            <?php endforeach; ?>
        </tr>
        <tr class="add-to-row">
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                    <th>&nbsp;</th>
                <?php endif; ?>
                <td>
                    <?php echo $this->getPriceHtml($_item, true, '-compare-list-top') ?>
                    <div class="actions">
                        <?php if($_item->isSaleable()): ?>
                            <a title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" href="<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <ul class="add-to-links">
                                <li><a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            </ul>
                        <?php endif; ?>
                    </div>
                </td>
            <?php endforeach; ?>
        </tr>
        <?php foreach ($this->getAttributes() as $_attribute): ?>
            <tr>
                <?php $_i=0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php if($_i++%10==0): ?>
                        <th><span class="nobr"><?php echo $_attribute->getStoreLabel() ?></span></th>
                    <?php endif; ?>
                    <td>
                        <?php switch ($_attribute->getAttributeCode()) {
                            case "price": ?>
                                <?php echo $this->getPriceHtml($_item, true, '-compare-list-' . $_attribute->getCode()) ?>
                                <?php break;
                            case "small_image": ?>
                                <amp-img
                                    src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>"
                                    width="125"
                                    height="125"
                                    layout="fixed"
                                    alt="<?php echo $this->escapeHtml($_item->getName()) ?>"
                                ></amp-img>
                                <?php break;
                            case "date":
                                echo substr($this->getProductAttributeValue($_item, $_attribute),0,10);
                                break;
                            default: ?>
                                <div class="std">
                                    <?php echo $this->helper('catalog/output')->productAttribute($_item, $this->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?>
                                </div>
                            <?php break;
                        } ?>
                    </td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
        <tr class="add-to-row">
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                    <th>&nbsp;</th>
                <?php endif; ?>
                <td>
                    <?php echo $this->getPriceHtml($_item, true, '-compare-list-bottom') ?>
                    <div class="actions">
                        <?php if($_item->isSaleable()): ?>
                            <a title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" href="<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <ul class="add-to-links">
                                <li><a href="<?php echo $this->getAddToWishlistUrl($_item);?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            </ul>
                        <?php endif; ?>
                    </div>
                </td>
            <?php endforeach; ?>
        </tr>
        </tbody>
    </table>
</div>
<?php endif; ?>
