<?php

?>
<script type="text/javascript">
    document.observe('dom:loaded', function(){
        $('show-hide-button').observe('click', function(){
            $('cminds-converting-instructions').toggle();
        });
    });
</script>
<h3>&nbsp;</h3>
<h3>Convert Existed Customer to Sub Account</h3>
<a href="javascript:void();" id="show-hide-button">Show/Hide detailed description</a>
<div id="cminds-converting-instructions" style="display: none">
    <p>Below grid allows you to convert existed Customer to Sub Account, the new Sub Account will be assigned to the current Customer which you are editing.</p>
    <p>To proceed the converting use search filters to find Customer which you want to convert and click on the link in "action" column.</p>
    <p>&nbsp;</p>
</div>

