<?php
    $_helperImage = Mage::helper('lightboxpro')->getHelperImage($this);
    $cssClass = '';
    $hsConfig = Mage::helper('lightboxpro')->configAsDataString();
    if ($hsConfig) {
        $cssClass = Mage::helper('lightboxpro')->getHsConfigCssClassName();
    }
?>

<?php
    $_product = $this->getProduct();
    $label = $this->htmlEscape($this->getImageLabel());
    list($_popupWidth, $_popupHeight) = explode('x', Mage::getStoreConfig('lightboxpro/size/popup'));
    list($_mainWidth, $_mainHeight)   = explode('x', Mage::getStoreConfig('lightboxpro/size/main'));
    $_popupKeepFrame = Mage::getStoreConfigFlag('lightboxpro/size/popup_keep_frame');
    $_mainKeepFrame  = Mage::getStoreConfigFlag('lightboxpro/size/main_keep_frame');
?>

<div class="highslide-gallery <?php echo $cssClass?>" <?php echo $hsConfig;?> data-thumnails=".more-views .lightbox-image">
    <?php $_prolabels = Mage::helper('core')->isModuleOutputEnabled('TM_ProLabels'); ?>
    <?php if ($_prolabels) : ?>
        <div class="prolabel-wrapper">
            <?php echo Mage::helper('prolabels')->getLabel($_product, 'product'); ?>
    <?php endif ?>

    <?php
    $_popupImage = $_helperImage->init($_product, 'image');
    if ($_popupWidth) :
        $_popupImage->keepFrame($_popupKeepFrame)->resize($_popupWidth, $_popupHeight);
    endif;
    ?>

    <a href="<?php echo $_popupImage ?>"
            class="highslide main-image lightbox-main-image"
            title="<?php echo $label?>"
            <?php echo Mage::helper('lightboxpro')->slideshowSettingsAsDataString();?>>
        <img src="<?php echo $_helperImage->init($_product, 'image')->keepFrame($_mainKeepFrame)->resize($_mainWidth, $_mainHeight);?>"
            srcset="<?php echo $_helperImage->init($_product, 'image')->keepFrame($_mainKeepFrame)->resize($_mainWidth, $_mainHeight);?> 1x, <?php echo $_helperImage->init($_product, 'image')->keepFrame($_mainKeepFrame)->resize($_mainWidth * 2, $_mainHeight * 2);?> 2x"
            alt="<?php echo $label?>"
        />
    </a>

    <?php if ($_prolabels) : ?>
        </div>
    <?php endif ?>

    <?php echo $this->getChildHtml('more_views'); ?>

</div>

<?php echo $this->getChildHtml('after'); ?>
