<?php
    $media = $this->getLayout()->getBlock('product.info.media');
    $_helperImage = Mage::helper('lightboxpro')->getHelperImage($media);
    $_images = $media->getGalleryImages();
    if (!$_images || count($_images) < 1)  { return; }
    $mainImageLabel = $this->htmlEscape($media->getImageLabel());
    $_product = $media->getProduct();

    list($_popupWidth, $_popupHeight)         = explode('x', Mage::getStoreConfig('lightboxpro/size/popup'));
    list($_thumbnailWidth, $_thumbnailHeight) = explode('x', Mage::getStoreConfig('lightboxpro/size/thumbnail'));
    $_popupKeepFrame     = Mage::getStoreConfigFlag('lightboxpro/size/popup_keep_frame');
    $_thumbnailKeepFrame = Mage::getStoreConfigFlag('lightboxpro/size/thumbnail_keep_frame');
?>

<div class="more-views">
    <?php if ($this->getNameInLayout() == 'more.views'): ?>
        <?php /* this template can be moved to tabs; change its name and there is no header */ ?>
        <h2><?php echo Mage::helper('catalog')->__('More Views') ?></h2>
    <?php endif ?>
    <?php foreach ($_images as $_image) :
        if ($_product->getChildAttributeLabelMapping()
            && method_exists($media, 'isGalleryImageVisible')
            && !$media->isGalleryImageVisible($_image)
        ) {
             continue;
        }
        $_label = $this->htmlEscape($_image->getLabel());
        if (empty($_label)) {
            $_label = $mainImageLabel;
        }?>

        <?php
        $_popupImage = $_helperImage->init($_product, 'image', $_image->getFile());
        if ($_popupWidth) :
            $_popupImage->keepFrame($_popupKeepFrame)->resize($_popupWidth, $_popupHeight);
        endif;
        ?>

        <a href="<?php echo $_popupImage ?>"
                class="highslide lightbox-image"
                title="<?php echo $_label?>">
            <img src="<?php echo $_helperImage->init($_product, 'thumbnail', $_image->getFile())->keepFrame($_thumbnailKeepFrame)->resize($_thumbnailWidth, $_thumbnailHeight);?>"
                srcset="<?php echo $_helperImage->init($_product, 'thumbnail', $_image->getFile())->keepFrame($_thumbnailKeepFrame)->resize($_thumbnailWidth, $_thumbnailHeight);?> 1x, <?php echo $_helperImage->init($_product, 'thumbnail', $_image->getFile())->keepFrame($_thumbnailKeepFrame)->resize($_thumbnailWidth * 2, $_thumbnailHeight * 2);?> 2x"
                alt="<?php echo $_label?>"
            />
        </a>
    <?php endforeach;?>
</div>
