<?php
    $_productCollection = $this->getProductCollection();
    $_helper = $this->helper('catalog/output');
    $this->setMode('grid');
    $this->helper('argento/product_list')->initChildren($this);
?>
<?php if ($_productCollection->count()) : ?>
<div class="box-collateral block-soldtogether-customer soldtogether-block<?php echo $this->getConfigAddToCartCheckbox() ? ' addtocart-checkboxes' : '' ?>">
    <div class="h2">
        <?php echo Mage::helper('soldtogether')->__('Customers Who Bought This Item Also Bought') ?>
        <?php if ($this->getConfigAddToCartCheckbox()) : ?>
            <a class="select-all" href="javascript:void(0)"><?php echo Mage::helper('soldtogether')->__('select all') ?></a>
        <?php endif ?>
    </div>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnsCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid cols-<?php echo $_columnCount ?>">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="main-info">
                    <h3 class="product-name">
                        <?php if ($this->showCheckbox($_product)) : ?>
                            <input title="<?php echo $this->__('Add this product to the cart too') ?>" type="checkbox" class="checkbox addtocart-checkbox relatedcustomer-checkbox" id="relatedcustomer-checkbox<?php echo $_product->getId() ?>" name="bought_related_products[]" value="<?php echo $_product->getId() ?>"/>
                        <?php endif ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name')?></a>
                    </h3>
                    <div class="prolabel-wrapper">
                        <?php echo $this->getChild('product.image')->setProduct($_product)->toHtml(); ?>
                        <?php echo $this->getChild('add.to.links')->setProduct($_product)->toHtml(); ?>
                    </div>
                    <?php echo $this->getPriceHtml($_product, true, '-related-customer') ?>
                <?php if (!$this->showCheckbox($_product)): ?>
                <?php if (!$this->helper('argento/product_list')->isCollateralInfoDisabled()): ?>
                    </div>
                    <div class="collateral-info">
                <?php endif ?>
                    <?php echo $this->getChild('actions')->setProduct($_product)->toHtml(); ?>
                <?php endif ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">
        decorateGeneric($$('.block-soldtogether-customer ul.products-grid'), ['odd','even','first','last']);
        document.observe('dom:loaded', function() {
            new SoldTogether.Checkboxes({
                container        : '.block-soldtogether-customer',
                checkboxIdPattern: '#relatedcustomer-checkbox{{id}}',
                selectAllText    : "<?php echo Mage::helper('soldtogether')->__('select all') ?>",
                unselectAllText  : "<?php echo Mage::helper('soldtogether')->__('unselect all') ?>"
            });
        });
    </script>
</div>
<?php endif; ?>
