<?php
    $_productCollection = $this->getProductCollection();
    $_helper            = $this->helper('catalog/output');
    $currentProduct     = current($this->getProducts());
    $_collectionSize    = $_productCollection->count();
    $_columnCount       = $this->getColumnsCount();
    $taxDisplayType     = Mage::getStoreConfig('tax/display/type');
    $i = 0;

if (!$_collectionSize) :
    return;
endif;
?>

<div class="box-collateral block-soldtogether-order soldtogether-block<?php echo $this->getConfigAddToCartCheckbox() ? ' addtocart-checkboxes' : '' ?>">
<?php if ($this->getAmazonStyle()) : ?>
    <div class="h2"><?php echo Mage::helper('soldtogether')->__('Frequently bought together') ?></div>
    <p class="subtitle"><?php echo Mage::helper('soldtogether')->__('Customers who bought this product also commonly purchased the following combination of items.') ?></p>
    <ul class="amazonstyle-images">
        <li id="image<?php echo $currentProduct->getId() ?>" class="first">
            <img src="<?php echo $this->helper('catalog/image')->init($currentProduct, 'small_image')->resize(150); ?>"
                srcset="<?php echo $this->helper('catalog/image')->init($currentProduct, 'small_image')->resize(150); ?> 1x, <?php echo $this->helper('catalog/image')->init($currentProduct, 'small_image')->resize(150 * 2); ?> 2x"
                width="150" height="150"
                alt="<?php echo $this->stripTags($this->getImageLabel($currentProduct, 'small_image'), null, true) ?>"
            />
        </li>
    <?php foreach ($_productCollection as $_product): ?>
        <li id="image<?php echo $_product->getId() ?>"<?php if(++$i == $_collectionSize) : ?> class="last"<?php endif;?>>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>"
                    srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?> 1x, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150 * 2); ?> 2x"
                    width="150" height="150"
                    alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                />
            </a>
        </li>
    <?php endforeach ?>
    </ul>

    <ul class="amazonstyle-checkboxes">
        <li class="product-name">
            <?php
                if ('2' == $taxDisplayType) {
                    $_finalPrice = $this->getProductFinalPrice($currentProduct, true);
                } else  {
                    $_finalPrice = $this->getProductFinalPrice($currentProduct, false);
                }
                $_finalPriceInclTax = $this->getProductFinalPrice($currentProduct, true);

                $totalPrice    = $_finalPrice;
                $totalPriceInc = $_finalPriceInclTax;
            ?>
            <input type="hidden" class="soldtogether-amazon-main" id="relatedorderamazon-hidden<?php echo $currentProduct->getId() ?>" value="<?php echo $_finalPrice; ?>"/>
            <input type="hidden" class="soldtogether-amazon-main-inc" id="relatedorderamazon-hidden-inc<?php echo $currentProduct->getId() ?>" value="<?php echo $_finalPriceInclTax; ?>"/>
            <input type="checkbox" class="checkbox" id="relatedorderamazon-checkbox<?php echo $currentProduct->getId() ?>" onclick="return false;" disabled="disabled" name="bought_related_products[]" value="<?php echo $_product->getId() ?>" checked="checked"/>
            <?php echo Mage::helper('soldtogether')->__('This Item') ?>:
            <?php echo $currentProduct->getName(); ?>
        </li>
        <?php foreach ($_productCollection as $_product): ?>
            <li class="product-name">
                <?php
                    if ('2' == $taxDisplayType) {
                        $_finalPrice = $this->getProductFinalPrice($_product, true);
                    } else  {
                        $_finalPrice = $this->getProductFinalPrice($_product, false);
                    }
                    $_finalPriceInclTax = $this->getProductFinalPrice($_product, true);

                    $totalPrice    += $_finalPrice;
                    $totalPriceInc += $_finalPriceInclTax;
                ?>
                <input type="hidden" id="relatedorderamazon-hidden<?php echo $_product->getId() ?>" value="<?php echo $_finalPrice ?>"/>
                <input type="hidden" id="relatedorderamazon-hidden-inc<?php echo $_product->getId() ?>" value="<?php echo $_finalPriceInclTax ?>"/>
                <input type="checkbox" class="checkbox relatedorderamazon-checkbox" id="relatedorderamazon-checkbox<?php echo $_product->getId() ?>" name="bought_related_products[]" value="<?php echo $_product->getId() ?>" checked="checked"/>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                <?php echo $this->getPriceHtml($_product, true, '-related-order') ?>
            </li>
        <?php endforeach ?>
        <li class="totalprice regular-price">
            <div class="price-box">
                <p class="special-price" id="soldtogether-total-price" style="display:none;">
                    <span class="price-label"><?php echo $this->__('Total Price') ?></span>
                    <span class="price">
                        <?php echo Mage::helper('core')->currency($totalPrice) ?>
                    </span>
                </p>
                <p class="special-price" id="soldtogether-total-price-inc" style="display:none;">
                    <span class="price-label"><?php echo $this->__('Total Price') ?></span>
                    <span class="price-excluding-tax">
                        <span class="label"><?php echo $this->__('Excl. Tax:') ?></span>
                        <span class="price"><?php echo Mage::helper('core')->currency($totalPrice); ?></span>
                    </span>
                    <span class="price-including-tax">
                        <span class="label"><?php echo $this->__('Incl. Tax:') ?></span>
                        <span class="price"><?php echo Mage::helper('core')->currency($totalPriceInc); ?> </span>
                    </span>
                </p>
            </div>
        </li>
        <li class="button-cart">
            <button type="button" title="Add to Cart" class="button btn-cart"><span><span><?php echo Mage::helper('soldtogether')->__('Add All to Cart') ?></span></span></button>
            <?php echo $this->getProductId(); ?>
        </li>
    </ul>
    <script type="text/javascript">
        document.observe('dom:loaded', function() {
            new SoldTogether.Amazon({
                priceFormat: <?php echo Mage::helper('core')->jsonEncode(Mage::app()->getLocale()->getJsPriceFormat()) ?>
            });
        });
    </script>
<?php else : ?>

    <?php
        $this->setMode('grid');
        $this->helper('argento/product_list')->initChildren($this);
    ?>

    <div class="h2">
        <?php echo Mage::helper('soldtogether')->__('Frequently bought together') ?>
        <?php if ($this->getConfigAddToCartCheckbox()) : ?>
            <a class="select-all" href="javascript:void(0)"><?php echo Mage::helper('soldtogether')->__('select all') ?></a>
        <?php endif ?>
    </div>

    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid cols-<?php echo $_columnCount ?>">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="main-info">
                    <h3 class="product-name">
                        <?php if ($this->showCheckbox($_product)) : ?>
                            <input type="checkbox" class="checkbox addtocart-checkbox relatedorder-checkbox" id="relatedorder-checkbox<?php echo $_product->getId() ?>" name="bought_related_products[]" value="<?php echo $_product->getId() ?>"/>
                        <?php endif ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                    </h3>
                    <div class="prolabel-wrapper">
                        <?php echo $this->getChild('product.image')->setProduct($_product)->toHtml(); ?>
                        <?php echo $this->getChild('add.to.links')->setProduct($_product)->toHtml(); ?>
                    </div>
                    <?php echo $this->getPriceHtml($_product, true, '-related-order') ?>
                <?php if (!$this->helper('argento/product_list')->isCollateralInfoDisabled()): ?>
                </div>
                <div class="collateral-info">
                <?php endif ?>
                    <?php echo $this->getChild('actions')->setProduct($_product)->toHtml(); ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">
        decorateGeneric($$('.block-soldtogether-order ul.products-grid'), ['odd','even','first','last']);
        document.observe('dom:loaded', function() {
            new SoldTogether.Checkboxes({
                container        : '.block-soldtogether-order',
                checkboxIdPattern: '#relatedorder-checkbox{{id}}',
                selectAllText    : "<?php echo Mage::helper('soldtogether')->__('select all') ?>",
                unselectAllText  : "<?php echo Mage::helper('soldtogether')->__('unselect all') ?>"
            });
        });
    </script>
<?php endif; ?>
</div>
