body { background: #fff; padding: 20px 0 0; font: 12px/1.55em arial,helvetica,sans-serif; }
input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.form-list input.input-text:focus,
.form-list select:focus, .form-list textarea:focus { background-color: #F8FAFC; }

button.button { padding: 0 2px 2px 0; }
button.button span {
    border-radius: 6px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
    background: #f3920b;
    background: -moz-linear-gradient(top, #FFAF12 0%, #ED8108 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFAF12), color-stop(100%,#ED8108));
    background: -webkit-linear-gradient(top, #FFAF12 0%,#ED8108 100%);
    background: -o-linear-gradient(top, #FFAF12 0%,#ED8108 100%);
    background: -ms-linear-gradient(top, #FFAF12 0%,#ED8108 100%);
    background: linear-gradient(to bottom, #FFAF12 0%,#ED8108 100%);
}
button.button span span { padding: 0 10px; background: none; box-shadow: none; }
button.button:active span { box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.3); }
button.btn-alt span {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #a2a2a2;
    background: -moz-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(1, #979797));
    background: -webkit-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -o-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -ms-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: linear-gradient(top, #a2a2a2 0%, #979797 100%);
}

button.btn-checkout span,
button.btn-suggest-cart span { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
button.btn-checkout span span,
button.btn-suggest-cart span span { box-shadow: none; padding: 0 20px; }

.box .head { margin-bottom: 0.2em; }
.box .head span {
    color: #333333;
    font: bold 1.1em Verdana,Geneva,Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
}
.block-alt .block-title { border: none; text-transform: uppercase; }
.block-alt .block-content { border: 1px solid #ddd; border-radius: 8px; }

.top-toolbar,
.header,
.top-container,
.main,
.footer,
.footer-toolbar,
.footer-cms {
    max-width: 935px; width: auto;
}

.top-toolbar-container,
.header-container,
.main-container { background: transparent; }
.header,
.top-toolbar:before { background: #00355f; }
.top-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 925px;
    width: auto;
    height: 25px;
    font-family: arial,helvetica,sans-serif;
    position: relative;
    z-index: 21
}
.top-toolbar .header-links,
.top-toolbar .quick-links { position: absolute; bottom: 0; }
.top-toolbar .header-links { left: 27%; margin: 0 0 0 -5px; }
.top-toolbar .quick-links { right: 6px; bottom: 2px; }
.top-toolbar .top-link-cart { display: none; }
.top-toolbar:before {
    content: ' ';
    width: 27%;
    height: 25px;
    float: left;
    border-radius: 6px 6px 0 0;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: relative;
    margin-left: -5px;
}

.top-toolbar .header-links li { margin-right: 3px; float: left; }
.top-toolbar .header-links a {
    background: #ffc156;
    background: -moz-linear-gradient(top, #ffd796 0%, #ffd796 7%, #ffc156 25%, #ff9c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd796), color-stop(7%,#ffd796), color-stop(25%,#ffc156), color-stop(100%,#ff9c00));
    background: -webkit-linear-gradient(top, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);
    background: -o-linear-gradient(top, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);
    background: -ms-linear-gradient(top, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);
    background: linear-gradient(to bottom, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);

    display: block;
    padding: 3px 10px;
    border-radius: 4px 4px 0 0;
    color: #00355F;
    box-shadow: 2px 1px 0px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.top-toolbar .header-links li.first a {
    border-radius: 0 4px 0 0;
}
.top-toolbar .header-links a:hover {
    text-decoration: none;
    padding-bottom: 4px;
    margin-top: -1px;
}

.top-toolbar-container,
.header-container { padding: 0 5px; }

.header-container .mobile-togglers a { color: #fff; border-color: rgba(255,255,255,0.1); }
.header-container .mobile-togglers a.active { border-bottom-color: transparent; }

.header {
    border-radius: 0 6px 6px 6px;
    padding-top: 10px;
    padding-bottom: 0;
    max-width: 925px;
    width: auto;
    min-height: 58px;
    position: relative;
    z-index: 100;
    box-shadow: 2px 3px 2px -1px rgba(0, 0, 0, 0.3);
}
.header-empty .header { border-radius: 6px; margin-top: 5px; }
.header .logo { margin-top: -23px; margin-left: 5px; }
.form-language { color: #fff; clear: none; margin: 0 12px 0 0; line-height: 30px; }
.form-language a { color: #fff; }
.form-language label { display: none; }
.form-language select { margin: 0; }
.header-content { float: right; margin-bottom: 10px; }

.header-container .header-cart {
    padding: 6px 6px;
    margin: 0 12px 0 0;
    float: left;
    border-radius: 5px;
    border: none;

    background: transparent;
    background: rgba(255,255,255,0.1);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.14) 50%, rgba(255,255,255,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(50%,rgba(255,255,255,0.14)), color-stop(100%,rgba(255,255,255,0.1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
}
.header-cart .block-title a { color: #fff; }
.header-cart .summary {
    width: auto;
    float: none;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}
.header-cart .summary .icon-basket { font-size: 15px; }
.header-cart .summary p { margin: 0; display: inline-block; }

.header-container .form-search { margin: 2px 0 0; }
.header-container .form-search #search { height: auto; }
.header-container .form-search #search.input-text {
    text-indent: 0;
    padding: 5px;
    height: 25px;
    border: none;
    background: #fff;
}
.header-container .form-search button {
    padding: 5px 7px;
    margin: 0 0 0 2px;
    height: auto;
    width: auto;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.4);
    border-radius: 6px;
    border: none;

    background: #F9A200;
    background: -moz-linear-gradient(top, #ffce76 0%, #F9A200 10%, #F9A200 91%, #b26c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffce76), color-stop(10%,#F9A200), color-stop(91%,#F9A200), color-stop(100%,#b26c00));
    background: -webkit-linear-gradient(top, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
    background: -o-linear-gradient(top, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
    background: -ms-linear-gradient(top, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
    background: linear-gradient(to bottom, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
}
.header-container .mini-search.form-search button {
    padding: 0 7px;
}
.header-container .mini-search.form-search button i {
    display: none;
}
.header-container .form-search button span {
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    display: block;
    color: #003361;
    line-height: 24px;
    height: 24px;
}
.header-container .form-search button:active { top: 1px; box-shadow: 1px 0px 1px 0 rgba(0,0,0,0.4); }
.header-container .form-search .search-autocomplete ul { background-color: #F8F8F8; }
.header-container .form-search .search-autocomplete li.odd { background: #fff; }
.header-container .form-search .search-autocomplete li.selected { background-color: #f4f4f4; }

.autocomplete {
    border-radius: 0 0 6px 6px;
    margin: -7px 6px 6px -4px;
}
.header-container .form-search .chosen-container-single .chosen-single,
select.ajaxsearch-category-select {
    padding-bottom: 0;
    padding-top: 0;
    border: none;
    background-color: #fff;
    height: 25px;
}
.header-container .form-search .chosen-container-single .chosen-single div { top: 1px; }
.header-container .form-search .chosen-container-single .chosen-single abbr { top: 7px; right: 15px; }
.header-container .form-search .chosen-container-single .chosen-search input { min-width: 171px; }

.nav-container { background: none; clear: both; margin: 0 -5px; }
#nav,
.nav-container .navpro {
    padding: 0;
    border-top: 1px solid rgba(255,255,255,0.2);

    background: -moz-linear-gradient(top, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0) 65%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.13)), color-stop(65%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
}
#nav ul, #nav div { top: 100%; }
#nav ul.level0, #nav div.level0 { border-top: none; margin-left: -1px; }
#nav li.level-top,
.nav-container .navpro li.level-top { border-right: 1px solid rgba(255,255,255,0.17); }
#nav li.level-top.last,
.nav-container .navpro li.level-top.last { border-right: none; }
#nav li a { color: #fff; }
#nav li.parent a.level-top { padding-right: 13px; background: none; }
#nav li.over a,
#nav li.active a { color: #ffac1f; }
.nav-container .navpro .active > a.level-top,
.nav-container .navpro .active > div.level-top a { color: #ffac1f; }
.nav-container .navpro a.level-top.over,
.nav-container .navpro div.level-top a.over { color: #ffac1f; }
#nav ul li.active > a,
#nav ul li.over > a { background-color: #fafafa; }
#nav ul li a { color: #000 !important; }

.nav-container .navpro a.level-top,
.nav-container .navpro div.level-top a {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.nav-container .navpro a.level-top,
.nav-container .navpro div.level-top a { padding: 11px 13px 11px; }
.nav-container .navpro-inline .nav-toggler-level0 {
    top: 10px;
    opacity: 0.9;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAWlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9jZLFEAAAAHXRSTlMAAQJydHZ3eHmAgYKDhIWGh4iMjo+QkZKTlJWWl4kf2AsAAACcSURBVHja7da7DsIwDIXhmFJS6J3eC37/10SqDGMlfCJ58dn/b/CSBJ/Pd7qiJ6iPzB0i3JghIedjrVp4MijQAAujCI2hMIlQGwozLCwiVIbCKkKpFjZY2JMJD7Xw+gpBuctbhDsuwIBRDx6Rfj1hfWnU74n6Stlvifpa2a/G/SJ9Y9TP4OM6gX3I9L3sygx+knLp9Ys9BZ/P98c+vNUhkUAxt+IAAAAASUVORK5CYII=);
}
.nav-container .navpro li.level-top.nav-li.first { border-radius: 0 0 0 5px; }

.sidebar .block-title {
    border: 1px solid #073C66;
    border-bottom: none;
    background: #00355f;
    padding: 0;
}
.sidebar .block-title span {
    color: #fff;
    display: block;
    padding: 8px 11px;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.17) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.17)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
}
.sidebar .block-title span span { padding: 0; display: inline; background: none; }
.sidebar .block-content { border: 1px solid #ddd; border-top: none; background: #fff; }

.sidebar .block-navpro .block-content { padding: 0; }
.sidebar .navpro .nav-a,
.sidebar .navpro .nav-sibling-title a { color: #666; }
.sidebar .navpro a.level-top,
.sidebar .navpro div.level-top a { background-color: #f6f6f6; }

.products-grid li.item { text-align: center; }
.products-grid .product-name { min-height: 0; font-weight: bold; }
.products-grid .product-name a { text-decoration: underline; }
.products-grid .product-name a:hover { text-decoration: none; }
.products-grid .ratings .rating-box { float: none; display: inline-block; margin: 0 auto; }
.products-grid .ratings .amount { vertical-align: top; }
.products-grid li.item .main-info { border: 1px solid #fff; border-bottom: none; border-radius: 5px 5px 0 0; }
.products-grid li.item .collateral-info { border-radius: 0 0 5px 5px; }
.products-grid li.item:hover .main-info { border: 1px solid #DEDEDE; border-bottom: none; box-shadow: none; }
.products-grid li.item:hover .collateral-info { border: 1px solid #DEDEDE; box-shadow: none; }
.products-grid .collateral-info .actions { float: none; }

/* Quantity switcher listing styles */
.products-grid .qty-increment input.qty {
    background-color: #FEF1F8;
    border: 1px solid #DEDEDE;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.products-grid  .qty-increment a.qty-switcher-dec,
.products-grid  .qty-increment a.qty-switcher-inc {
    color: #00355F;
    line-height: 20px !important;
}

/* Add to links */
.products-grid .add-to-links,
.std .block-highlight .add-to-links,
.product-view .listing-suggest .add-to-links,
.product-view .soldtogether-block .add-to-links {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.products-grid .add-to-links li { float: none; }
.products-grid .add-to-links li.li-compare { margin-left: 0; margin-top: 2px; }
@media (max-width: 767px) {
  .product-view .listing-suggest .products-grid .add-to-links li {
      float: none;
  }
}

.products-list .product-name a,
.products-grid .product-name a {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.sorter .view-mode .active { color: #274782; }
.pager .pages li.current,
.pager .pages li.current a,
.pager .pages li:hover,
.pager .pages li:hover a { background: #ee8308; }

/* product view */
.product-view .product-shop .add-to-cart button.button span,
.product-view .product-options-bottom .add-to-cart button.button span {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
.product-view .product-shop .add-to-cart button.button span span,
.product-view .product-options-bottom .add-to-cart button.button span span {
    padding: 0 20px;
}

.product-view .soldtogether-block .add-to-links li { float: none; }

.easytabs li {
    background: #00355F;
    border-radius: 5px 5px 0 0;
    border: none;
    box-shadow: 0 6px 12px -5px rgba(255, 255, 255, 0.3) inset;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.easytabs li:hover {
    background: #034173;
    box-shadow: 0 6px 12px -5px rgba(255, 255, 255, 0.3) inset;
}
.easytabs li.active {
    background: #F5970C;
    box-shadow: 0 6px 12px -5px rgba(255, 255, 255, 0.3) inset;
    border: none;
    text-shadow: none;
}
.easytabs-a {
    color: #fff;
    text-shadow: none;
    padding: 9px 12px 7px;
}
.easytabs-a.active {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.easytabs-a .easytabs-anchor-icon,
.easytabs-a .easytabs-anchor-icon:hover {
    color: #fff;
    text-shadow: none;
}
.easytabs-a-accordion {
    background: #00355F;
    border: 1px solid rgba(255,255,255,0.1);
    border-width: 0 0 1px;
    margin: 0;
    box-shadow: none;
    position: relative;
    z-index: 6;
}
.easytabs-a-accordion.active {
    color: #fff;
    background: #F5970C;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.easytabs-content {
    background: transparent;
    border: 3px solid #f5980e;
    border-width: 3px 0 0px;
    border-color: #f5980e #eee #eee;
    margin: 0;
}

.block-progress .block-title { margin: 0; }

.footer-cms,
.footer {
    padding-top: 12px;
    border-top: 1px solid #eee;
    margin-bottom: 12px;
}
.footer-cms { padding: 0 6px; }
.footer { text-align: center; }
.footer, .footer a { color: #888; }
.footer-cms a { text-decoration: none; }
.footer-cms a:hover { text-decoration: underline; }
.footer address { float: none; text-align: center; }
.footer .links,
.footer .links li { float: none; }

.footer-cms .mini-product-viewed li { clear: both; }
.footer-cms .mini-product-viewed img { float: left; margin-right: 5px; }

.footer-cms .mini-product-search li.item { float: left; width: 48%; margin-right: 2%; }

.argento-slider .trigger { color: #00355f; }
.argento-slider .trigger-left { border-radius: 0 6px 6px 0; }
.argento-slider .trigger-right { border-radius: 6px 0 0 6px; }

.col-home-set .row .products-grid li.item { text-align: left; }
.col-home-set .row .products-grid li.item .actions { text-align: left; }
.col-home-set .row .products-grid .add-to-links,
.col-home-set .products-grid li.item:hover .add-to-links { display: none; }

.col-home-set .products-grid li.item .main-info,
.col-home-set .products-grid li.item:hover .main-info,
.col-home-set .products-grid li.item .collateral-info,
.col-home-set .products-grid li.item:hover .collateral-info { border: none; padding: 0; }
.col-home-set .products-grid .collateral-info { position: static; height: auto; opacity: 1; }
.col-home-set .products-grid .price-box { margin: 0; }


.cms-index-index .col-main .callout-home-top .swiper-slide-descr {
    left: 20px;
}

.callout-home-top .swiper-slide,
.callout-home-top .swiper-container {
    border-radius: 6px;
}
.callout-home-top .swiper-pagination {
    width: 25px;
    height: 100%;
    right: auto;
    left: 0px;
    top: 0;
    bottom: auto;
    background-color: #00355f;
    border-radius: 6px 0 0 6px;
    flex-direction: column;
    justify-content: flex-end;
}
.callout-home-top .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 3px 0;
}

.callout-home-top .block-subscribe { background: #ffab00; border-radius: 6px; margin-bottom: 15px; }
.callout-home-top .block-subscribe .block-title { border: none; font-size: .8em; padding: 4px 8px; }
.callout-home-top .block-subscribe .block-title span { font-weight: bold; color: #00355f; }
.callout-home-top .block-subscribe .block-content { padding-top: 0; }
.callout-home-top .block-subscribe .validation-advice { font-weight: bold; }
.callout-home-top .block-subscribe .actions { text-align: center; text-align: center; }
.callout-home-top .block-subscribe .form-subscribe-header { display: none; }
.callout-home-top .block-subscribe .icon-email { font-size: 17px; color: #fff; padding: 2px 0; display: inline-block; margin-left: -3px; }
.callout-home-top .block-subscribe .input-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: -27px;
    padding-left: 27px;
    width: 100%;
    display: inline-block;
}
.callout-home-top .block-subscribe .input-text { width: 100%; border: none; padding: 4px; }
.callout-home-top .block-subscribe button.button span {
    color: #fff;
    background: #00355f;
    background: -moz-linear-gradient(top, #667E92 0%, #00355f 10%, #00355f 91%, #002340 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#667E92), color-stop(10%,#00355f), color-stop(91%,#00355f), color-stop(100%,#002340));
    background: -webkit-linear-gradient(top, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
    background: -o-linear-gradient(top, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
    background: -ms-linear-gradient(top, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
    background: linear-gradient(to bottom, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
}
.callout-home-top .block-subscribe .newsletter-info { font-size: 0.9em; color: #00355f; margin-bottom: 0; text-align: center; }
.callout-home-top .block-subscribe .description { display: block; }

.block-featured-homepage .block-title { border: none; text-transform: uppercase; }

/* Slider */

.new-products-slider .products-grid { padding: 0 !important; }

.new-products-slider .prolabel-wrapper .prolabel,
.new-products-slider .product-name,
.new-products-slider .price-box,
.new-products-slider .collateral-info,

.new-products-slider .block-title { display: none !important; }

.new-products-slider li.item {
    border: 1px solid #f3f3f3;
    border-width: 0 1px 0 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.new-products-slider:hover li.item {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.new-products-slider:hover li.item:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* Homepage new-products carousel styles */

.new-products-slider.slick-wrapper { padding: 0; }
.new-products-slider.slick-wrapper .actions .add-to-links { display: none; }
.new-products-slider.slick-wrapper .slick-prev,
.new-products-slider.slick-wrapper .slick-next {
    width: 32px;
    height: 100%;
    top: 0;
}
.new-products-slider.slick-wrapper .slick-next { right: 0; border-radius: 0 5px 5px 0; }
.new-products-slider.slick-wrapper .slick-prev { left: 0; border-radius: 5px 0 0 5px; }
.new-products-slider.slick-wrapper .slick-prev:before,
.new-products-slider.slick-wrapper .slick-next:before { color: #0F3D61; }
@media (min-width: 640px) {
    .new-products-slider.slick-wrapper .products-grid li.item {
        border: 1px solid #f3f3f3;
        border-width: 0 1px 0 0;
    }
}

#testimonials-view-more-button span,
button.ajaxpro-continue-button span,
.ajaxpro-buttons-set .btn-continue span,
#ajaxpro-scrolling-button span {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #a2a2a2;
    background: -moz-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(1, #979797));
    background: -webkit-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -o-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -ms-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: linear-gradient(top, #a2a2a2 0%, #979797 100%);
}
#testimonials-view-more-button span,
#ajaxpro-scrolling-button span {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
}
#testimonials-view-more-button:hover span,
#ajaxpro-scrolling-button:hover span { background: #9c9c9c; }

.aln-mobile-button { background-color: #0d557b !important; }

.suggestpage-activity { border-radius: 5px; }
.suggestpage-activity .col-1 { border-radius: 5px 0 0 5px; }
.suggestpage-activity .col-2 { border-radius: 0 5px 5px 0; }

.block-highlight .grid-wide li.item { background: transparent; border: none; }
.block-highlight .grid-wide .product-name a { text-decoration: none; }
.block-highlight .grid-wide .product-name a:hover { text-decoration: underline; }
.block-highlight .grid-wide .add-to-links { display: none; }

.col-home-set,
.header-content { zoom: 1; }
.col-home-set:after,
.header-content:after { display: block; clear: both; visibility: hidden; content: '.'; height: 0; font-size: 0; }

/* <<< fontawesome styles */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .nav-toggler { color: #fff; }
    /*.nav-container .navpro ul .nav-toggler { color: #444; top: 5px; }*/
}
/* fontawesome styles >>> */

/* <<< responsive styles */
@media (max-width: 979px) {
    body { padding: 5px 0 0; }

    .notice-cookie .notice-inner,
    .global-site-notice .notice-inner { width: auto; padding-right: 12px; }

    .top-toolbar:before { height: 0; width: 0; content: ''; }
    .top-toolbar .header-links { left: 10px; margin: 0; }
    .top-toolbar .header-links li.first a { border-radius: 4px 4px 0 0; }
    .header { border-radius: 6px; }
    .header .logo { margin: 0; width: 100%; }
    .logo-wrapper { float: left; width: 29%; }
    .header-content { margin: 0 0 10px; display: inline; width: 70%; }
    .header .form-language { margin: 0 0 8px 0; float: none; }
    .header-container .header-cart { clear: left; float: right; margin: 0 0 5px 10px; }
}
@media (max-width: 768px) {
    .header { padding: 10px 5px 0; }
    .logo-wrapper { width: auto; }
    .header-content { width: auto; display: block; margin: 0; float: none; position: relative; }

    .top-toolbar .form-language { position: absolute; left: 9px; top: 5px; line-height: normal; }
    .top-toolbar .form-language label { display: none; }

    .top-toolbar .header-links { left: 130px; margin: 0; }

    .top-toolbar .top-link-wishlist { display: none; }

    .header .form-language { display: none; }
    .header-container { box-shadow: none; }
    .header-container .form-search #search { width: 230px; }
    .header-container .form-search select.ajaxsearch-category-select ~ #search { width: 145px; }
    .header-container #search_mini_form.shown .form-search { padding: 12px 10px; }
    .header-container #search_mini_form.shown .form-search { border-radius: 5px; }

    .header-container .header-cart { margin: 0; }

    .nav-container { background: #fff; margin: 0; border-radius: 5px; }
    #nav, .nav-container .navpro-responsive { border: none; background: none; }
    #nav li.level-top, .nav-container .navpro-responsive li.level-top { border: none; }
    .nav-container .navpro li.level-top.nav-li.first { border-radius: 5px 5px 0 0; }
    .nav-container .navpro li.level-top.nav-li.last { border-radius: 0 0 5px 5px; }
    .nav-container .navpro a.level-top,
    .nav-container .navpro div.level-top a { color: #272e3d !important; }
    .nav-container .navpro-responsive a.level-top,
    .nav-container .navpro-responsive div.level-top a { font-size: 18px; font-weight: normal; padding-left: 9px; }
    .nav-container .navpro-responsive.navpro-inline .nav-toggler-level0 { top: 4px; }
    .nav-container .navpro-inline .nav-toggler-level0 {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAWlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACLSV5RAAAAHXRSTlMAAQJydHZ3eHmAgYKDhIWGh4iMjo+QkZKTlJWWl4kf2AsAAACcSURBVHja7da7DsIwDIXhmFJS6J3eC37/10SqDGMlfCJ58dn/b/CSBJ/Pd7qiJ6iPzB0i3JghIedjrVp4MijQAAujCI2hMIlQGwozLCwiVIbCKkKpFjZY2JMJD7Xw+gpBuctbhDsuwIBRDx6Rfj1hfWnU74n6Stlvifpa2a/G/SJ9Y9TP4OM6gX3I9L3sygx+knLp9Ys9BZ/P98c+vNUhkUAxt+IAAAAASUVORK5CYII=);
    }

    .header-container .header-cart { padding: 0; }

    .breadcrumbs { margin: 0 0 3px; }
}
@media (max-width: 640px) {
    .col-home-set .block-highlight .grid-wide li.item {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
    .col-home-set .block-highlight .grid-wide {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media (max-width: 480px) {
    body { padding: 0; }
    .top-toolbar { padding: 5px 5px 7px; }

    .top-link-wishlist, .top-link-checkout { display: block; }

    .logo-wrapper { float: none; width: auto; margin: 0 auto 5px; }

    .header { padding: 8px 0 0 0; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .header-content {
        width: 100%;
        float: none;
        display: block;
        margin: 0;
        background: #fff;
        border-radius: 0 0 5px 5px;
    }
    .header-content .form-language { display: none; }

    .header-container { box-shadow: none; }
    .header-container .header-cart { float: none; border-radius: 0 0 5px 5px; }
    .header-container .header-cart .mini-products-list { border-radius: 0 0 5px 5px; }

    .nav-container { border-radius: 0 0 5px 5px; }

    .products-grid li.item { text-align: left; }
    .block-highlight .grid-wide .product-name a { text-decoration: underline; }
    .block-highlight .grid-wide .product-name a:hover { text-decoration: none; }
    .block-highlight .grid-wide .product-name,
    .block-highlight .grid-wide .ratings,
    .block-highlight .grid-wide .price-box,
    .block-highlight .grid-wide .actions,
    .block-highlight .grid-wide .add-to-links { margin: 0; }

    .block-alt .block-content { border: none; }

    .easytabs-content { border: none; }

    .footer-cms .mini-product-search li.item { width: auto; float: none; margin-right: 0; }
    .footer-cms { text-align: center; font-size: 1.3em; line-height: 1.4em; }
    .footer-cms .mini-product-viewed img { display: none; }

    .callout-home-top .swiper-slide-descr { display: none; }

    /* prevent page zoom, when focusing input fields */
    .chosen-container-single .chosen-single span {
        font-size: 16px !important;
    }
}

.dropdown-menu { border-radius: 5px; }
.dropdown-menu li.empty { padding: 8px; }

.expandable-list,
.expandable-list.expanded .current strong {
    border-color: #00355f;
    background: #2a5679;
    background: -moz-linear-gradient(top, #2a5679 0%, #00355f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a5679), color-stop(100%,#00355f));
    background: -webkit-linear-gradient(top, #2a5679 0%,#00355f 100%);
    background: -o-linear-gradient(top, #2a5679 0%,#00355f 100%);
    background: -ms-linear-gradient(top, #2a5679 0%,#00355f 100%);
    background: linear-gradient(to bottom, #2a5679 0%,#00355f 100%);
    filter: none;
}

/* Slick carousel styles */
.slick-wrapper { padding: 10px 5px 0; }
.slick-wrapper .block-content,
.slick-wrapper .widget .widget-products {
    border: 1px solid #ddd;
    border-radius: 8px;
}
.slick-wrapper .actions .add-to-links { display: none; }
.slick-wrapper .slick-dotted.slick-slider { margin-bottom: 30px; }
.std ul ul.slick-dots { margin-bottom: 10px; }

.slick-wrapper .block-title,
.slick-wrapper .widget .widget-title { padding: 8px; margin-bottom: 0; }

.slick-dots li button:before { color: #C9E0F2; opacity: 1; }
.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before { color: #0F3D61; opacity: 1; }

.slick-wrapper .slick-prev,
.slick-wrapper .slick-next {
    width: 27px;
    height: 27px;
    background-color: #EDEDED;
}
.slick-slider .slick-next { right: 16px; }
.slick-slider .slick-prev { right: 48px; left: auto; }
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
    font-family: 'fontawesome';
    color: #0F3D61;
    font-size: 30px;
    line-height: 0.7;
}
.slick-slider .slick-prev:before { content: '\f0d9'; }
.slick-slider .slick-next:before { content: '\f0da'; }

@media (min-width: 640px) {
    .slick-wrapper .products-grid li.item {
        border: 1px solid #f3f3f3;
        border-width: 0 1px 0 0;
    }
}

/* form styles */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    box-shadow: 0 0 0 9px #ee8308 inset !important;
}

input[type="checkbox"]:checked:disabled,
input[type="radio"]:checked:disabled {
    box-shadow: 0 0 0 9px #888 inset !important;
}
