<?php
    $slider = $this->getSlider();
    $slides = $slider->getSlidesCollection();
    if (count($slides) < 1) return;

    $width  = $slider->getWidth();
    $height = $slider->getHeight();
?>
<amp-carousel class="easyslide"
    width="<?php echo $width ?>"
    height="<?php echo $height ?>"
    type="slides" loop
    <?php if ($slider->getAutoglide()) : ?>
        autoplay delay="<?php echo $slider->getFrequency() * 1000 ?>"
    <?php endif ?>
    layout="responsive">
    <?php foreach ($slides as $slide): ?>
        <div class="swiper-slide">
            <?php if ($slide->getTarget()) : ?>
                <a href="<?php echo $slide->getTarget() ?>" class="easyslide-link <?php echo $this->getSlideClassName($slide) ?>">
            <?php endif ?>

                    <img src="<?php echo $this->getSlideImageUrl($slide->getUrl()) ?>"
                        alt="<?php echo $this->escapeHtml($slide->getImage()) ?>"/>

            <?php if ($slide->getTarget()) : ?>
                </a>
            <?php endif ?>

            <?php if ($slide->getDescription()) : ?>
                <div class="swiper-slide-descr <?php echo $this->getDescriptionClassName($slide->getDescPos()); ?> <?php echo $this->getBackgroundClassName($slide->getBackground()); ?>"><?php echo $this->filterDescription($slide->getDescription()) ?></div>
            <?php endif; ?>
        </div>
    <?php endforeach; ?>
</amp-carousel>
