.category-title {
    .link-rss {
        @extend .hidden;
    }
}
.category-image {
    margin-bottom: 1em;
}
// rwd compatibility
.catblocks {
    @extend %listing;
    > li {
        @extend %listing-item;
    }
}
