.main-wrapper {
    @extend .clearfix;
    > .main {
        @extend .clearfix;
    }
}

//
// Layout
// Disabled for all devices. Single column is supported only.
//
// @include media(">medium") {
//     .col-wrapper {
//         float: left;
//         width: calc(82% - 10px);
//     }
//     .col-left {
//         float: left;
//         width: 23%;
//     }
//     .col-right {
//         float: right;
//         width: 18%;
//     }
//     .col-main {
//         float: right;
//         width: calc(77% - 10px);
//         .col1-layout & {
//             float: none;
//             width: auto;
//         }
//         .col2-right-layout & {
//             float: left;
//         }
//     }
// }
