$footer-background: #050505 !default;
$footer-margin-top: 40px !default;
$footer-border-top: null !default;
$footer-text-color: #aaa !default;

footer {
    font-size: 0.9em;
    color: $footer-text-color;
    text-align: center;
    background: $footer-background;

    .container {
        padding-top: 30px;
        padding-bottom: 25px;
        margin-top: $footer-margin-top;
        border-top: $footer-border-top;
    }

    a {
        color: $footer-text-color;
        @include on-event {
            color: $footer-text-color;
        }
    }

    address {
        color: shade($footer-text-color, 40%);
        font-size: 0.9em;
        margin: 1em 0;
    }

    .links {
        margin-bottom: 1em;
        a {
            display: inline-block;
            padding: 0 5px;
        }
    }
}
