.category-products {
    .toolbar {
        .sorter {
            > .shop-by {
                display: block;

                @extend %switch-like-block;

                button {
                    font-size: 1.2em;
                    width: 100%;
                    box-sizing: border-box;
                    border: 0;
                    background-color: transparent;
                    padding: 0 10px;
                    display: block;
                    line-height: 40px;
                    cursor: pointer;
                    text-align: center;
                }
            }
        }
    }
}

.block-layered-nav {
    .block-title {
        strong span {
            @extend h4;
        }
    }

    .block-subtitle {
        margin: 1em 0;
        font-size: 1.1em;
    }

    .currently {
        li {
            @extend %chips;

            line-height: 30px;
            .label {
                display: none;
            }
            .btn-remove {
                @extend %chips-remove;
                color: inherit;
                height: 30px;
            }
        }
        + .actions {
            margin: 1em 0;
            a {
                @extend %chips;
                background-color: $mid-grey;
            }
        }
    }

    dt {
        font-weight: bold;
    }
    dd {
        padding: 10px 7px;
        li {
            margin: 3px 0;
        }
    }
}
