.grouped-items-table {
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;

    tr {
        &:nth-child(even) {
            background-color: #fff;
        }
    }

    td {
        border-bottom: 1px solid #e1e1e1;
        padding: 7px 10px;
    }

    .price-box {
        font-size: 1em;
    }
}
