.product-options {
    dl {
        dt {
            margin-bottom: 3px;
        }
        dd {
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        + dl {
            margin-top: 10px;
        }
    }
    .qty-holder {
        display: block;
        margin-top: 5px;
        input {
            width: 3rem;
        }
    }
    .options-list {
        li {
            margin-bottom: 3px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.item-options {
    dt {
        margin-bottom: 3px;
    }
    dd {
        padding-left: 10px;
    }
    + .add-to-box {
        border-top: 1px solid darken($light-grey, 5%);
        margin-top: 10px;
        padding-top: 10px;
    }
}
.product-shop {
    .price-as-configured {
        @extend .hidden;
    }
}
