$product-page-add-to-cart-button-padding-vertical: 8px !default;
$product-page-add-to-cart-button-padding-horizontal: 20px !default;

$product-page-share-icon-mask-size: null !default;
$product-page-share-icon-color: null !default;
$product-page-share-icon-width: null !default;
$product-page-share-icon-height: 23px !default;

$product-page-share-email-mask-image: $icon-email-outline !default;
$product-page-share-pinterest-mask-image: $icon-pinterest-outline !default;
$product-page-share-twitter-mask-image: $icon-twitter-outline !default;

.product-view {
    .h1 {
        @extend h6;
        @extend .hidden;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    .product-essential {
        @extend .clearfix;
        margin-bottom: 1rem;

        .add-to-links {
            display: inline-block;
            a {
                @include icon-mask-reset();
            }
            li:last-child {
                a {
                    @include margin-right(0);
                    @include border-right(none);
                }
            }
        }
        .sharing-links {
            margin-top: 10px;
            li {
                display: inline-block;
                &:first-child {
                    @include margin-left(0);
                }
                &:last-child {
                    @include margin-right(0);
                }
            }
            .link {
                &-email-friend {
                    @include icon-mask(
                        $icon: $product-page-share-email-mask-image,
                        $size: $product-page-share-icon-mask-size,
                        $color: $product-page-share-icon-color,
                        $width: $product-page-share-icon-width,
                        $height: $product-page-share-icon-height
                    );
                }
                &-pinterest {
                    @include icon-mask(
                        $icon: $product-page-share-pinterest-mask-image,
                        $size: $product-page-share-icon-mask-size,
                        $color: $product-page-share-icon-color,
                        $width: $product-page-share-icon-width,
                        $height: $product-page-share-icon-height
                    );
                }
                &-twitter {
                    @include icon-mask(
                        $icon: $product-page-share-twitter-mask-image,
                        $size: $product-page-share-icon-mask-size,
                        $color: $product-page-share-icon-color,
                        $width: $product-page-share-icon-width,
                        $height: $product-page-share-icon-height
                    );
                }
            }
        }
    }
    .product-shop {
        margin-bottom: 10px;
    }
    .rating-links {
        margin-bottom: 10px;
    }
    .availability {
        text-shadow: none;
        margin-bottom: 7px;
    }
    .qty-wrapper {
        .qty {
            width: 3rem;
            @include text-align(center);
        }
    }
    .btn-configure-and-buy {
        padding: $product-page-add-to-cart-button-padding-vertical $product-page-add-to-cart-button-padding-horizontal;
        margin-bottom: 10px;
    }
    .add-to-cart {
        @extend .clearfix;
        @include padding(0, 0, 5px, 0);
        margin-bottom: 10px;
        border-bottom: 1px solid darken($light-grey, 5%);

        &-wrapper {
            .or {
                display: none;
            }
        }

        .qty-wrapper {
            @include float(left);
            @include margin(0px, 7px, 10px, 0px);
            .qty {
                padding-top: $product-page-add-to-cart-button-padding-vertical;
                padding-bottom: $product-page-add-to-cart-button-padding-vertical;
            }
        }
        .add-to-cart-buttons {
            @include float(left);
            text-align: center;

            .btn-cart {
                width: 100%;
                padding: $product-page-add-to-cart-button-padding-vertical $product-page-add-to-cart-button-padding-horizontal;
            }
            .paypal-logo {
                margin: 0;
            }
            .paypal-or {
                display: block;
                margin: .5rem 0;
                color: $mid-grey;
            }
        }
    }
    .collateral-tabs {
        .tab {
            @extend .hidden;
        }
        .tab-content {
            padding: 0 10px 1rem;
            h2 {
                @extend h5;
                @extend %accordion-title;
                background-color: lighten($light-grey, 3%);
                margin: 0 -10px .5rem;
            }
        }

        #product-attribute-specs-table {
            width: 100%;
        }
    }
}
.product-img-box {
    margin-bottom: 10px;
}
.product-options {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 15px;
    border: 1px solid darken($light-grey, 10%);
    clear: both;
    position: relative;
    p.required {
        display: none;
        position: absolute;
        top: 6px;
        @include right(15px);
        @include text-align(right);
    }
}
.product-options-bottom {
    background-color: lighten($light-grey, 4%);
    padding: 10px 15px;
    border: 1px solid darken($light-grey, 10%);
    border-top: 0;
    margin-bottom: 10px;

    .price-box {
        @extend .hidden;
    }
}

@include media(">=medium") {
    .product-view {
        .h1 {
            display: block;
        }
        .product-shop {
            @include float(right);
            width: 50%;
        }
        .add-to-cart-wrapper {
            @include clear(right);
            @include float(right);
            width: 50%;
        }
    }
    .product-img-box {
        box-sizing: border-box;
        @include float(left);
        width: 50%;
        padding-top: 20px;
        @include padding-right(15px);

        .product-name {
            display: none;
        }
    }
}
@include media(">=large") {
    .product-view {
        .product-essential {
            .add-to-links {
                + .sharing-links {
                    @include margin-left(25px);
                }
            }
            .sharing-links {
                display: inline-block;
                margin-top: 0;
            }
        }
    }
}
