#customer-reviews {
    dl {
        dt {
            margin: 10px 0;
            font-size: .8em;
            font-style: italic;
            color: $dark-grey;
            a {
                text-transform: uppercase;
                font-size: 1.1em;
            }
        }
        dd {
            font-family: $serif-font-stack;
            margin: 10px 0 25px;
            .ratings-table {
                width: 100%;
                font-family: $text-font-stack;
                @include text-align(left);
                margin: 0 0 5px;
                font-size: .9em;
            }
            .date {
                color: $mid-grey;
                font-size: .8em;
                white-space: nowrap;
            }
        }
    }
}
