<?php
/**
 * Top menu for store
 *
 * @see TM_NavigationPro_Block_Navigation
 */
?>
<?php
    $_menu = $this->getHtml('level-top');
    $_id   = $this->getHtmlId();
?>

<?php if ($_menu) : ?>
<div class="nav-container">
    <ul id="<?php echo $_id ?>" class="navpro navpro-inline <?php echo $this->getStyle() ?><?php echo $this->getIsResponsive() ? ' navpro-responsive' : '' ?> <?php echo $this->getCssClass() ?>" data-config='<?php echo $this->getJsConfiguration();?>'>
        <?php echo $_menu ?>
        <?php echo $this->getChildHtml('navigationpro.top.additional');?>
    </ul>
</div>
<?php endif ?>
