<?php
$_helper = $this->helper('googleanalytics');
if (method_exists($_helper, 'getAccountId')) {
    $_accountId = $_helper->getAccountId();
} else {
    $_accountId = Mage::getStoreConfig('google/analytics/account');
}
?>
<amp-analytics type="googleanalytics">
    <script type="application/json">
    {
        "vars": {
            "account": "<?php echo $_accountId ?>"
        },
        "triggers": {
            "trackPageview": {
                "on": "visible",
                "request": "pageview"
            }
        }
    }
    </script>
</amp-analytics>
