<?php if ($this->canEmailToFriend()): ?>
    <p class="email-friend"><a rel="nofollow" href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($this->getProduct()) ?>"><?php echo $this->__('Email to a Friend') ?></a></p>
<?php endif; ?>
