<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <?php if ($this->isExpanded()): ?>
        <div class="sorter">
            <?php if ($this->isEnabledViewSwitcher()): ?>
                <p class="view-mode">
                    <?php $_modes = $this->getModes(); ?>
                    <?php if($_modes && count($_modes)>1): ?>
                        <label><?php echo $this->__('View as') ?></label>
                        <?php foreach ($this->getModes() as $_code=>$_label): ?>
                            <?php if($this->isModeActive($_code)): ?>
                                <strong title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong>
                            <?php else: ?>
                                <a href="<?php echo $this->getModeUrl($_code) ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </p>
            <?php endif; ?>

            <?php $helper = $this->helper('tmamp/theme_shopBy'); ?>
            <?php if ($helper->canShowShopBy()) : ?>
                <div class="shop-by">
                    <button on="tap:shop-by-lightbox">
                        <?php echo $this->__('Shop By') ?>
                        <?php $filters = $helper->getActiveFilters() ?>
                        <?php echo count($filters) ? '(' . count($filters) . ')' : '' ?>
                    </button>
                </div>
            <?php endif; ?>

            <?php
                // @todo: make it similar to topmenu_renderer feature
                // echo Mage::helper('tmamp/theme_elements')->getSortByRenderer($this)->toHtml()
            ?>

            <div class="sort-by switch">
                <amp-accordion disable-session-states>
                    <section>
                        <?php
                            $orderModifiers = array(
                                '*' => array(
                                    'asc'   => 'Asc',
                                    'desc'  => 'Desc'
                                ),
                                'relevance' => array(
                                    'asc'   => false,
                                    'desc'  => ''
                                ),
                                'position' => array(
                                    'asc'   => '',
                                    'desc'  => false
                                ),
                                'price' => array(
                                    'asc'   => 'Low - High',
                                    'desc'  => 'High - Low'
                                ),
                                'name' => array(
                                    'asc'   => 'A - Z',
                                    'desc'  => 'Z - A'
                                )
                            );

                            $orders = $this->getAvailableOrders();
                            $currentOrder = $this->getCurrentOrder();
                            $currentOrderLabel = isset($orders[$currentOrder]) ? $orders[$currentOrder] : $currentOrder;
                            $currentDirection = $this->getCurrentDirection();
                            $currentOrderModifier = isset($orderModifiers[$currentOrder]) ? $orderModifiers[$currentOrder][$currentDirection] : $orderModifiers['*'][$currentDirection];
                            if ($currentOrderModifier) {
                                $currentOrderLabel .= ' (' . $this->__($currentOrderModifier) . ')';
                            }
                        ?>
                        <header class="current">
                            <?php echo $this->__('Sort By') ?>
                            <strong><?php echo $this->escapeHtml($this->__($currentOrderLabel)) ?></strong>
                        </header>
                        <div class="others">
                            <?php foreach ($orders as $_key => $_order): ?>
                                <?php
                                    $modifiers = isset($orderModifiers[$_key]) ? $orderModifiers[$_key] : $orderModifiers['*'];
                                ?>

                                <?php foreach ($modifiers as $_dir => $_suffix) : ?>
                                    <?php if (false === $_suffix) : continue; endif; ?>
                                    <div>
                                        <a href="<?php echo $this->getOrderUrl($_key, $_dir) ?>"
                                            ><?php echo $this->__('Sort By') ?>
                                            <strong>
                                                <?php echo $this->__($_order) ?>
                                                <?php if (!empty($_suffix)) : ?>
                                                    (<?php echo $this->__($_suffix) ?>)
                                                <?php endif ?>
                                            </strong>
                                        </a>
                                    </div>
                                <?php endforeach ?>
                            <?php endforeach; ?>
                        </div>
                    </section>
                </amp-accordion>
            </div>
        </div>
    <?php endif; ?>

    <div class="pager">
        <?php echo $this->getPagerHtml() ?>
    </div>
</div>
<?php endif ?>
