<?php
/**
 * Copyright 2016 Klarna AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Kco
 * @author     Jason Grim <jason.grim@klarna.com>
 */

/**
 * Klarna checkout template
 */
?>
<ul id="klarna_msg" class="messages" style="display:none;">
    <li id="klarna_msg_wrapper">
        <ul>
            <li><span id="klarna_msg_content"></span></li>
        </ul>
    </li>
</ul>

<?php if ($this->allowCheckout()): ?>
    <script>
        //<![CDATA[
        var checkout = new Klarna.Checkout(
            '<?php echo $this->getUrl('checkout/klarna/saveCustomer') ?>',
            '<?php echo $this->getUrl('checkout/cart') ?>',
            '<?php echo $this->getUrl('checkout/klarna/reloadSummary') ?>',
            'klarna_msg',
            <?php echo Mage::helper('klarna_kco/checkout')->getShippingCallbackSupport() ? 'false': 'true'; ?>,
            '<?php echo $this->getUrl('checkout/klarna/saveShippingAddress') ?>',
            <?php echo Mage::helper('klarna_kco/checkout')->getShippingInIframe() ? 'false': 'true'; ?>
        );
        //]]>
    </script>
    <?php echo $this->getKlarnaHtml(); ?>
<?php else: ?>
    <?php echo $this->getChildHtml('registration'); ?>
<?php endif; ?>
