.btn-remove {
    @include icon-mask($icon-trash-outline);
}

.compare-table {
    table-layout: fixed;
    width: 100%;

    td {
        width: 130px;
    }
    th {
        width: 70px;
        word-break: break-word;
        @include text-align(right);
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    .product-image {
        display: inline-block;
        position: relative;
        .btn-remove {
            position: absolute;
            top: 0;
            @include right(0);
        }
    }


    .product-name {
        margin: 0;
        font-size: 1em;
        letter-spacing: normal;
    }

    .price-box {
        margin-top: 0;
    }

    .actions {
        display: flex;

        > :first-child {
            flex-shrink: 0;
            margin: 0;
        }
    }

    .availability {
        &.out-of-stock {
            @extend %button-static;

            background-color: $light-grey;
            color: $dark-grey;
        }
    }
}
