$homepage-footer-margin-top: 0 !default;

.cms-tmamp-homepage {
    .main.container {
        padding: 0;
    }
    footer {
        .container {
            margin-top: $homepage-footer-margin-top;
        }
    }
}
