.breadcrumbs {
    display: block;
}
.post {
    &-entry {
        ol, ul {
            @extend .list-styled;
        }
        .read-more {
            margin: 10px 0;
            display: inline-block;
        }
    }
    &-meta {
        font-size: .9em;
        color: $dark-grey;
    }
    &-skips {
        @extend .clearfix;
        display: block;
        margin: 20px 0;
    }
    &-skip-next {
        @include float(right);
    }
}

.comment {
    .gravatar {
        @include float(left);
        width: 50px;
    }
    &-meta {
        @include margin-left(60px);
        font-size: 0.85em;
        margin-bottom: 5px;
    }
    &-entry {
        @include margin-left(60px);
        font-family: $serif-font-stack;
    }
    .reply {
        display: none;
    }
}
