<?php
    $_productCollection=$this->getProductCollection();
    $_helper = $this->helper('catalog/output');
    $this->setMode('grid');
    $this->helper('argento/product_list')->initChildren($this);
?>
<?php if($_productCollection && $_productCollection->count()): ?>
<div class="soldtogether-block jumbotron">
    <h2><?php echo Mage::helper('soldtogether')->__($this->getTitle()) ?></h2>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnsCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid cols-<?php echo $_columnCount ?>">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="main-info">
                    <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                    <div class="prolabel-wrapper">
                        <?php echo $this->getChild('product.image')->setProduct($_product)->toHtml(); ?>
                        <?php echo $this->getChild('add.to.links')->setProduct($_product)->toHtml(); ?>
                    </div>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                <?php if (!$this->helper('argento/product_list')->isCollateralInfoDisabled()): ?>
                    </div>
                    <div class="collateral-info">
                <?php endif ?>
                    <?php echo $this->getChild('actions')->setProduct($_product)->toHtml(); ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">
    $$('.soldtogether-block').each(function(el) {
        decorateGeneric(el.select('ul.products-grid'), ['odd','even','first','last'])
    });
    </script>
</div>
<?php endif; ?>
