<?php
    $html = $this->getChildHtml();
    if (!$html || ctype_space($html)) {
        return;
    }
?>
<div class="before-footer <?php echo $this->getCssClass()?>">
    <div class="container">
        <?php echo $html; ?>
    </div>
</div>
