<?php
    $menuId = 'nav';
    $navpro = $this->getLayout()->getBlock('navigationpro.top');
    if ($navpro && $navpro->getEnabled()) {
        $menuId = $navpro->getHtmlId();
    }
?>
<div class="header-container">
    <div class="header">
        <?php echo $this->getChildHtml('store_language') ?>
        <?php echo $this->getChildHtml('topSearch') ?>
        <div class="header-content-right">
            <div id="header-togglers" class="header-icons-wrapper">
                <a class="wishlist-btn" href="<?php echo $this->getUrl('wishlist') ?>" title="<?php echo $this->__('My Wishlist') ?>"><i class="luxury-icon luxury-heart"></i></a>
                <a href="javascript:void(0)" class="menu-toggle" data-menu="<?php echo $menuId ?>"><i class="luxury-icon luxury-hamburger"></i></a>
                <a class="quick-links-toggle" href="javascript:void(0)" title="<?php echo $this->__('Quick Links') ?>"><i class="luxury-icon luxury-user"></i></a>
                <a class="header-cart-toggle last" href="javascript:void(0)" title="<?php echo $this->__('Shopping Cart') ?>"><i class="luxury-icon luxury-cart"></i></a>
            </div>
            <div class="header-content">
                <?php echo $this->getChildHtml('headerCart') ?>
                <div class="quick-links">
                    <?php echo $this->getChildHtml('topLinks') ?>
                </div>
            </div>
        </div>
        <div class="logo-wrapper">
            <?php $logo2x = Mage::helper('argento')->getLogo2xSrc(); ?>
            <?php if ($this->getShowHomeLogo()):?>
            <h1 class="logo logo-main"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>"<?php echo $logo2x ? " srcset='{$this->getLogoSrc()} 1x, {$logo2x} 2x'" : '' ?> alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>

            <?php if ($homeLogo = Mage::helper('argento')->getHomeLogo()):
                $homeLogo2x = Mage::helper('argento')->getHomeLogo(true);
            else:
                $homeLogo = $this->getLogoSrc();
                $homeLogo2x = $logo2x;
            endif; ?>

            <h1 class="logo logo-alt"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $homeLogo ?>"<?php echo $homeLogo2x ? " srcset='{$homeLogo} 1x, {$homeLogo2x} 2x'" : '' ?> alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>

            <?php else:?>
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>"<?php echo $logo2x ? " srcset='{$this->getLogoSrc()} 1x, {$logo2x} 2x'" : '' ?> alt="<?php echo $this->getLogoAlt() ?>" /></a>
            <?php endif?>
        </div>
        <div class="mobile-togglers" id="mobile-togglers"></div>
    </div>

    <?php $menu = $this->getChildHtml('topMenu') ?>
    <?php if (!empty($menu)) : ?>
        <?php echo $menu ?>
        <script type="text/javascript">
        document.observe('dom:loaded', function() {
            new MobileNavigation();
        });
        </script>
    <?php endif; ?>
    <?php echo $this->getChildHtml('topContainer'); ?>
</div>
