<?php
    $optionCollection = $this->getLoadedOptionCollection();
    if (!$optionCollection || !$optionCollection->count()) {
        return;
    }

    $width  = $this->getImageWidth();
    $height = $this->getImageHeight();
?>

<amp-carousel class="attributepages"
    width="<?php echo $width ?>"
    height="<?php echo $height ?>"
    type="slides" loop
    layout="responsive">
    <?php foreach ($optionCollection as $option): ?>
        <?php
            $optionTitle = $this->escapeHtml($option->getTitle());
        ?>
        <a href="<?php echo $option->getUrl() ?>" title="<?php echo $optionTitle ?>">
            <img src="<?php echo $this->helper('attributepages/image')->init($option, 'image')->resize($width, $height); ?>"
                alt="<?php echo $optionTitle ?>"
        /></a>
    <?php endforeach; ?>
</amp-carousel>
