.products-grid .product-image .hover-image,
.products-list .product-image .hover-image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transition: opacity 0.2s ease-in-out;
    transform: translateX(-50%);
}

.products-grid .product-image .hover-image.active,
.products-list .product-image .hover-image.active {
    opacity: 1;
}
