<?php
/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');

    $_tmampHelper = $this->helper('tmamp/theme_product');
    $_width = $_tmampHelper->getImageWidth();
    $_height = $_tmampHelper->getImageHeight();
?>
<amp-carousel width="<?php echo $_width ?>" height="<?php echo $_height ?>" controls layout="responsive" type="slides" loop>
    <?php
        $_mainImageSrc = (string)$this->helper('catalog/image')
            ->init($_product, 'image')
            ->resize($_width, $_height);
    ?>
    <amp-img src="<?php echo $_mainImageSrc ?>"
        width="<?php echo $_width ?>"
        height="<?php echo $_height ?>"
        layout="responsive"
        alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
    ></amp-img>

    <?php foreach ($this->getGalleryImages() as $_image): ?>
        <?php if (method_exists($this, 'isGalleryImageVisible')
                && !$this->isGalleryImageVisible($_image)): ?>

            <?php continue; ?>
        <?php endif; ?>

        <?php
            // prevent duplicated main image
            $_src = (string)$this->helper('catalog/image')
                ->init($_product, 'image', $_image->getFile())
                ->resize($_width, $_height);
        ?>
        <?php if ($_mainImageSrc === $_src) : ?>
            <?php continue; ?>
        <?php endif ?>

        <amp-img src="<?php echo $_src ?>"
            width="<?php echo $_width ?>"
            height="<?php echo $_height ?>"
            layout="responsive"
            alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>"
        ></amp-img>
    <?php endforeach; ?>
</amp-carousel>

<?php echo $this->getChildHtml('after'); ?>
