<?php
/**
 * Copyright 2016 Klarna AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Kco
 * @author     Jason Grim <jason.grim@klarna.com>
 */

/**
 * Klarna checkout gift message template
 */
if (!$this->isEnabled()) {
    return;
}
?>
<div class="checkout-summary-widget">
    <?php echo $this->helper('klarna_kco/message')->getInline('quote', $this->getQuote(), $this->getDontDisplayContainer()) ?>
    <script>
        //<![CDATA[
        var giftMessage = new Klarna.Form('checkout-gift-message', '<?php echo $this->getFormActionUrl() ?>');
        //]]>
    </script>
</div>
