<?php
    $_productCollection = $this->getProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if ($_productCollection->count()) : ?>
<div class="box-collateral block-soldtogether-customer soldtogether-block<?php echo $this->getConfigAddToCartCheckbox() ? ' addtocart-checkboxes' : '' ?>">
    <h2>
        <?php echo Mage::helper('soldtogether')->__('Customers Who Bought This Item Also Bought') ?>
        <?php if ($this->getConfigAddToCartCheckbox()) : ?>
            <a class="select-all" href="javascript:void(0)"><?php echo Mage::helper('soldtogether')->__('select all') ?></a>
        <?php endif ?>
    </h2>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnsCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid products-grid--max-<?php echo $_columnCount?>-col">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <div class="product-image-wrapper">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                    <?php if ($this->showCheckbox($_product)) : ?>
                        <input title="<?php echo $this->__('Add this product to the cart too') ?>" type="checkbox" class="checkbox addtocart-checkbox relatedcustomer-checkbox" id="relatedcustomer-checkbox<?php echo $_product->getId() ?>" name="bought_related_products[]" value="<?php echo $_product->getId() ?>"/>
                    <?php endif ?>
                </div>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php echo $this->getPriceHtml($_product, true, '-related-customer') ?>
                <div class="actions">
                    <?php if (!$this->getConfigAddToCartCheckbox()): ?>
                        <?php if($_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    <?php endif; ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li class="li-wishlist"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                            <li class="li-compare"><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">
        decorateGeneric($$('.block-soldtogether-customer ul.products-grid'), ['odd','even','first','last']);
        document.observe('dom:loaded', function() {
            new SoldTogether.Checkboxes({
                container        : '.block-soldtogether-customer',
                checkboxIdPattern: '#relatedcustomer-checkbox{{id}}',
                selectAllText    : "<?php echo Mage::helper('soldtogether')->__('select all') ?>",
                unselectAllText  : "<?php echo Mage::helper('soldtogether')->__('unselect all') ?>"
            });
        });
    </script>
</div>
<?php endif; ?>
