/* Typography CMS page styles */

section.typography-3-columns .luxury-icon{
    width: 47px;
    height: 47px;
    margin-bottom: .5em;
}
section.typography-3-columns p {
    font-size:  16px;
    width: 70%;
    margin: 0 auto;
}

/* Typography Icons list*/

.cms-page-view .icon:before {
    width: 12px;
}
.icon-leaf::before {
    content: '🍂' !important;
}
.icon-pencil::before {
    content: '🖉' !important;
}
.icon-heart::before {
    content: '💛' !important;
}
.icon-lens::before {
    content: '🍷' !important;
}

/* Common elements styles */

body,
input,
select,
textarea,
button,
.nav-container .navpro {
    font-family: 'Muli', sans-serif;
    font-size:  15px;
    line-height:  24px;
    color: #6D6D6D;
}

a {
    font-size: 15px;
    color: #2E2E2E;
    letter-spacing: 0;
    line-height: 24px;
}

select {
    font-weight: 400;
    font-size: 15px;
    color: #2E2E2E;
    letter-spacing: 0;
    line-height: 24px;
}

section {
    margin-bottom: 6em;
}
article {  }

/* Headings */

h1,
.h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 43px;
    color: #2E2E2E;
    letter-spacing: 0.128em;
    margin-bottom: 1em;
}

.page-title h1,
h1.page-title {
    font-size: 48px;
    color: #010101;
    letter-spacing: 0.33em;
    text-align: center;
    border-bottom: none;
    margin-bottom: .6em;
    margin-top: 1em;
}
h2,
.h2,
.ajaxpro-form .page-title h1,
.product-view .product-name h1 {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    letter-spacing: 0.038em;
    margin-bottom: .6em;
    text-transform: none;
}

h3,
.h3 {
    font-weight: 800;
    font-size: 16px;
    color: #010101;
    letter-spacing: 0.038em;
    margin-bottom: 1em;
}

h4,
.h4 {
    font-weight: 800;
    font-size: 14px;
    color: #454545;
    letter-spacing: 0.038em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

h5,
.h5 {
    font-weight: 800;
    font-size: 13px;
    color: #010101;
    letter-spacing: 0.038em;
    margin-bottom: 1em;
}

h6,
.h6 {
    font-weight: 800;
    font-size: 12px;
    color: #454545;
    letter-spacing: 0.038em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.page-title h1:after,
h1.page-title:after,
.product-view .product-name h1:after,
h2:after,
.h2:after,
.underlined:after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color:  #EA8E6A;
    margin-top: 16px;
}

.products-grid h2.product-name:after {
    display: none;
}

/* Centered page title */
.page-title h1:after,
h1.page-title:after,
.page-title .underlined:after,
.page-title.underlined:after {
    margin: 25px auto 0em !important;
}


/* Paragraphs */

p {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 1.5em;
}

.subtitle {
    font-weight: 300;
    font-size: 18px !important;
    color: #6D6D6D !important;
    line-height: 30px;
}

/* Hero contrainer*/

.hero {
    text-align: center !important;
}
.hero .subtitle{
    width: 70%;
    margin: 0 auto !important;
}

/* Lists */

ul, ol {
    list-style: none !important;
    padding: 0;
    margin: 0;
}
li {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

ul li:before,
ol li:before{
    color: #CACACA; /* or whatever color you prefer */
    padding-right: 8px;
}

.std ul li {
    padding-left: 1em;
    text-indent: -.7em;
}
.std ul li::before {
    content: "‣";
}
.std ul.circles li::before {
    content: "⚬";
}

.std ol { counter-reset: item; }
.std ol li { display: block; }
.std ol li:before {
    content: counter(item) ".";
    counter-increment: item;
    color: #cacaca;
}

/* System Messages */

.error-msg,
.success-msg,
.note-msg,
.notice-msg {
    font-weight: 400 !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px !important;
    letter-spacing: 0.54px;
    line-height: 26px;
    border: none !important;
    margin-bottom: 15px;
    background-size: 25px;
    padding-left: 35px !important;

}

.success-msg,
.success-msg * {
    color: #417505 !important;
    background-color: #E3F6CF !important;
}
.error-msg {
    color: #E47B7A !important;
    background-color: #FAE5E4 !important;
}
.notice-msg {
    color: #C57D06 !important;
    background-color: #FEFAD2 !important;
}
.note-msg {
    color: #3FB5E3 !important;
    background-color: rgba(63, 181, 227, .2) !important;
}


/* Media Object styling took from Bootstrap Media component */

.media {
    overflow: hidden;
    zoom: 1;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

@media(max-width: 480px){
    section {
        padding-left: 10px;
        padding-right: 10px;
    }
    section .col-md-5 {
        margin-bottom: 4em;
    }
    .media-body, .media-left, .media-right {
        display: block;
    }
    .media-left, .media-right {
        width: 100%;
        text-align: center;
        margin-bottom: 4em;
    }

}

.media-left, .media>.pull-left {
    padding-right: 35px;
}
.media-right, .media>.pull-right {
    padding-left: 35px;
}


.media .media-left .luxury-icon {
    width: 64px;
    height: 64px;
}

.breadcrumbs a span,
.breadcrumbs strong {
    font-size: 14px;
    letter-spacing: 0.038em;
    line-height: 26px;
}

/* AjaxSearch */
#search_mini_form .search-field-wrapper #search {
    font-weight: 600;
}


.suggestpage-index-index h2,
.suggestpage-index-index .col-main .block-title,
.ajaxpro-form .soldtogether-block > h2 {
    text-align: left;
}

/* Toolbar */
.toolbar .sorter {
    font-weight: 700;
    color: #ababab;
    font-size:  15px;
    letter-spacing: 0;
    line-height: 24px;
}

.price-box .price
{
    font-weight: 600;
    font-size: 16px;
    color: #6D6D6D;
    letter-spacing: 0.62px;
    line-height: 18px;
}
.pager .pages li.current,
.pager .pages a {
    font-weight: 600;
    font-size: 15px;
    color: #848484;
    letter-spacing: 0;
    line-height: 24px;
}
.pager .pages li.current {
    color: #2e2e2e;
}
/* Resets */

/* EasyTabs reset */

.easytabs-ul-wrapper h2:after {
    display: none;
}

/* Headings mobile */
@media (max-width: 480px) {
    h1,
    .h1 {
        font-size: 23px;
    }

    .page-title h1,
    h1.page-title {
        font-size: 24px;
    }
    h2,
    .h2,
    .product-view .product-name h1 {
        font-size: 18px;
    }

    h3,
    .h3 {
        font-size: 16px;
    }

    h4,
    .h4 {
        font-size: 14px;
    }

    h5,
    .h5 {
        font-size: 12px;
    }

    h6,
    .h6 {
        font-size: 10px;
    }
}
