.tooltip{
    display: inline;
    position: relative;
    /*display: inline-block;*/
    width: 16px;
    height: 15px;
    background: url(../cminds/images/question_icon.png) no-repeat 0 0;
    vertical-align: top;
    color: #fff !important;
    padding-left: 20px;
}
.tooltip:hover:after{
    background: #E8E8E8;
    border-radius: 5px;
    bottom: 25px;
    color: #000;
    content: attr(title);
    left: -35%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;}
.tooltip:hover:before{
    border: solid;
    border-color: #E8E8E8 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 5%;
    position: absolute;
    z-index: 99;
}
.tip{
    display:inline-block;
    padding-left:12px;
}
.not-available{
    color: #d1d1d1;;
}