<div class="page-sitemap">
    <div class="page-title">
        <h1><?php echo $this->getTitle() ?></h1>
    </div>
    <?php
        $children = $this->getSortedChildren();
        foreach ($children as $child) {
            echo $this->getChildHtml($child);
        }
    ?>
</div>
