<?php
$items = $this->getCollection();
if ($items && count($items)):
    $helper = Mage::helper('tm_seohtmlsitemap');
    $columnsNumber = $helper->getColumnsNumber();
    $groupedItems = $helper->groupCollectionByFirstLetter($items);
    $isArray = is_array($items);
?>
<div class="sitemap-block sitemap-links-grouped">
    <h3 class="block-subtitle subtitle"><?php echo $this->getTitle() ?></h3>
    <div class="sitemap-block-content">
        <ul class="list-links-grouped">
        <?php foreach ($groupedItems as $letter => $items): ?>
            <li class="links-group">
                <div class="links-group-title">
                    <?php echo $helper->getGroupTitle($letter) ?>
                </div>
                <?php if ($columnsNumber > 1): ?>
                <div class="col<?php echo $columnsNumber?>-set">
                    <div class="col-1">
                <?php endif ?>
                <?php
                    $itemsNum = count($items);
                    $itemsPerCol = (int)ceil($itemsNum / $columnsNumber);
                    $i = 0; $col = 1;
                    foreach ($items as $item):
                ?>
                <div><a href="<?php echo $this->getItemUrl($item) ?>"><?php echo $this->escapeHtml($isArray ? $item['name'] : $item->name) ?></a></div>
                <?php
                    $i++;
                    if ($columnsNumber > 1 && $col < $columnsNumber && $i == $itemsPerCol):
                        $col++; $i = 0;
                ?>
                    </div>
                    <div class="col-<?php echo $col ?>">
                    <?php endif ?>
                <?php endforeach; ?>
                <?php if ($columnsNumber > 1): ?>
                    </div>
                </div>
                <?php endif ?>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif ?>
