<?php
$items = $this->getCollection();
if ($items && $itemsNum = count($items)):
    $columnsNumber = Mage::helper('tm_seohtmlsitemap')->getColumnsNumber();
    $itemsPerCol = (int)ceil($itemsNum / $columnsNumber);
    $isArray = is_array($items);
?>
<div class="sitemap-block">
    <h3 class="block-subtitle subtitle"><?php echo $this->getTitle() ?></h3>
    <div class="sitemap-block-content">
        <?php if ($columnsNumber > 1): ?>
        <div class="col<?php echo $columnsNumber?>-set">
            <div class="col-1">
        <?php endif ?>
        <?php $i = 0; $col = 1; ?>
        <?php foreach ($items as $item): ?>
            <div><a href="<?php echo $this->getItemUrl($item) ?>"><?php echo $this->escapeHtml($isArray ? $item['name'] : $item->name) ?></a></div>
            <?php
                $i++;
                if ($columnsNumber > 1 && $col < $columnsNumber && $i == $itemsPerCol):
                    $col++; $i = 0;
            ?>
            </div>
            <div class="col-<?php echo $col ?>">
            <?php endif ?>
        <?php endforeach; ?>
        <?php if ($columnsNumber > 1): ?>
            </div>
        </div>
        <?php endif ?>
    </div>
</div>
<?php endif ?>
