<?php
    $stores = $this->getStores();
    $enabled = Mage::helper('tm_seohtmlsitemap')->showStores();
?>

<?php if ($enabled && count($stores) > 1): ?>
<div class="sitemap-block sitemap-stores">
    <h3 class="block-subtitle subtitle"><?php echo $this->getTitle() ?></h3>
    <ul class="sitemap-block-content stores">
        <?php foreach ($stores as $store): ?>
            <li class="store">
                <?php if ($store->getId() == $this->getCurrentStoreId()): ?>
                    <?php echo $this->escapeHtml($store->getName()) ?>
                <?php else: ?>
                    <a href="<?php echo $store->getCurrentUrl() ?>" title="<?php echo $this->escapeHtml($store->getName()) ?>"><?php echo $this->escapeHtml($store->getName()) ?></a>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
