<?php
    $limit = 5;
    $list = $this->getLayout()->createBlock('review/product_view_list')
        ->setTemplate('review/product/view/list.phtml');
    $list->getReviewsCollection()
        ->setCurPage(1)
        ->setPageSize($limit);
    echo $list->toHtml();
    $unshowedReviews = $list->getReviewsCollection()->getSize() - $limit;
?>
<?php if ($unshowedReviews > 0):
    $reviewsUrl = Mage::getUrl('review/product/list', array(
           'id'        => $list->getProduct()->getId(),
           'category'  => $list->getProduct()->getCategoryId()
        ));
?>
    <p><a href="<?php echo $reviewsUrl;?>"><?php echo $this->__("Read other %s review(s)", $unshowedReviews);?></a></p>
<?php endif ?>
