<?php
    $_items = $this->getReviewsCollection()->getItems();
    $_tmampHelper = $this->helper('tmamp/theme_review');
?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <?php if (count($_items)):?>
        <h2><?php echo $this->__('Customer Reviews') ?></h2>
        <?php echo $this->getChildHtml('toolbar') ?>
        <dl>
        <?php foreach ($_items as $_review):?>
            <dt>
                <a href="<?php echo $this->getReviewUrl($_review->getId()) ?>"><?php echo $this->escapeHtml($_review->getTitle()) ?></a> <?php echo $this->__('Review by <span>%s</span>', $this->escapeHtml($_review->getNickname())) ?>
            </dt>
            <dd>
                <?php $_votes = $_review->getRatingVotes(); ?>
                <?php if (count($_votes)): ?>
                    <table class="ratings-table">
                        <tbody>
                            <?php foreach ($_votes as $_vote): ?>
                            <tr>
                                <th><?php echo $this->escapeHtml($_vote->getRatingCode()) ?></th>
                                <td>
                                    <div class="rating-box">
                                        <?php foreach ($_tmampHelper->getSummaryIcons($_vote->getPercent()) as $star) : ?>
                                            <i class="<?php echo $star ?>"></i>
                                        <?php endforeach ?>
                                    </div>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                <?php endif; ?>
                <?php echo nl2br($this->escapeHtml($_review->getDetail())) ?>
                <small class="date"><?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt()), 'long') ?></small>
            </dd>
        <?php endforeach; ?>
        </dl>
        <?php echo $this->getChildHtml('toolbar') ?>
    <?php endif;?>
    <?php echo $this->getChildHtml('review_form') ?>
</div>
