$language-icon-width: 30px !default;
$language-icon-height: 30px !default;
$language-icon-background-color: null !default;
$language-icon-mask-image: $icon-world-outline !default;
$language-icon-mask-size: null !default;

.form-language {
    amp-accordion {
        section {
            .current {
                line-height: normal;
                @include padding-left($language-icon-width + 3px);

                &::before {
                    @include icon-mask(
                        $icon: $language-icon-mask-image,
                        $size: $language-icon-mask-size,
                        $color: $language-icon-background-color,
                        $width: $language-icon-width,
                        $height: $language-icon-height
                    );

                    content: '';
                    position: absolute;
                    top: 0;
                    @include left(0);
                }
            }
        }
    }
}
