.pager {
    text-align: center;
    strong {
        display: none;
    }
    .amount {
        display: none;
    }
    .next,
    .previous {
        &:after {
            content: attr(title);
        }
    }
    li {
        display: inline-block;
        margin: 0 .2em;
    }
    a,
    .current {
        display: inline-block;
        user-select: none;
        padding: .4em .7em;
    }
}
