$search-form-background: transparent !default;
$search-form-padding: 5px 0 !default;
$search-form-border-radius: 3px !default;

$search-field-border: 1px solid lighten($mid-grey, 10%) !default;
$search-field-background-color: #fff !default;
$search-field-padding: 6px !default;

$search-button-width: 40px !default;
$search-button-height: 40px !default;
$search-button-mask-image: $icon-search !default;
$search-button-mask-size: null !default;
$search-button-background-color: null !default;

$search-lightbox-background-color: #fff !default;

.search-icon {
    @include icon-mask(
        $icon: $search-button-mask-image,
        $size: $search-button-mask-size,
        $color: $search-button-background-color,
        $width: $search-button-width,
        $height: $search-button-height
    );
}

.form-search {
    background: $search-form-background;
    padding: $search-form-padding;
    border-radius: $search-form-border-radius;

    label {
        display: none;
    }
    input {
        box-sizing: border-box;
        padding: $search-field-padding;
        width: calc(100% - #{$search-button-width});
        max-width: none;
        border: $search-field-border;
        background-color: $search-field-background-color;
    }
    button {
        @extend .search-icon;
    }
}
