<div class="header-cart dropdown">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <span class="summary<?php echo $_cartQty ? ' active' : '' ?>"></span>
    <?php $_items = $this->getItems() ?>
    <ol id="header-cart-content" class="dropdown-menu mini-products-list" style="display:none;">
        <li class="block-title">
            <h4><?php echo $this->__('Your Cart'); ?></h4>
        </li>
    <?php if(count($_items)): ?>
        <?php foreach($_items as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach; ?>
        <li class="subtotal">
            <div class="subtotal">
                <?php if ($this->canApplyMsrp()): ?>
                    <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                <?php else: ?>
                    <span class="label"><?php echo $this->__('Cart Subtotal') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                    <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                        <br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <?php if ($this->isPossibleOnepageCheckout()) : ?>
            <div class="actions">
                <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button btn-proceed-checkout" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                <button type="button" title="<?php echo $this->__('View Cart') ?>" class="button-cart button btn-alt" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><span><span><?php echo $this->__('View Cart') ?></span></span></button>
                <?php echo $this->getChildHtml('extra_actions') ?>
            </div>
            <?php endif ?>
        </li>
    <?php else: ?>
        <li class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></li>
    <?php endif ?>
    </ol>
</div>
