<?php
/**
 * Copyright 2016 Klarna AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Kco
 * @author     Jason Grim <jason.grim@klarna.com>
 */

/**
 * Shipping options template for Klarna Checkout
 */
if (!$this->isEnabled()) {
    return;
}
?>
<div class="checkout-summary-widget">
    <div class="block-title"><strong><?php echo $this->__('Shipping Method') ?></strong></div>
    <div id="summary_shipping">
        <form id="checkout-shipping-method" action="<?php echo $this->getFormActionUrl() ?>" method="post">
            <?php echo $this->getChildHtml('available') ?>
        </form>
    </div>
    <script>
        //<![CDATA[
        var shipping = new Klarna.Form('checkout-shipping-method', '<?php echo $this->getFormActionUrl() ?>', true);
        var shippingForm = new VarienForm('checkout-shipping-method');
        $('checkout-shipping-method').on('change', '.shipping-method-input-radio', shipping.save.bind(shipping));
        //]]>
    </script>
</div>
