<?php
/**
 * Copyright 2016 Klarna AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Kco
 * @author     Jason Grim <jason.grim@klarna.com>
 */

/**
 * Shipping options template for Klarna Checkout
 */
if (!$this->isEnabled()) {
    return;
}
?>

<div class="checkout-summary-widget">
    <div class="block-title"><strong><?php echo $this->__('Totals') ?></strong></div>
    <?php if ($this->canApplyMsrp()): ?>
        <div class="cart-msrp-totals"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></div>
    <?php else: ?>
        <table id="shopping-cart-totals-table">
            <col />
            <col width="1" />
            <tfoot>
            <?php echo $this->renderTotals('footer'); ?>
            </tfoot>
            <tbody>
            <?php echo $this->renderTotals(); ?>
            </tbody>
        </table>
    <?php endif; ?>
</div>
