    /**
     *RTL
     */

* {
    direction: rtl;
}

.page {
    text-align: right;
}

.col-right {
    float: left;
}

.col-main {
    float: right;
}

.catalog-product-view .col2-right-layout .col-main {
    padding-right: 0;
    padding-left: 25px;
    border-left: 1px solid #eee;
    border-right: 0 solid #FFF;
}

.messages,
.messages ul {
    text-align: right;
}

.product-options p.required {
    left: 20px;
    right: auto;
}

.fieldset .legend {
    float: right;
}

.form-list .field {
    float: right;
}

.buttons-set .back-link {
    float: right;
}

.col2-left-layout .col-main {
    float: left;
}

.col2-left-layout .col-left {
    float: right;
}

.col2-right-layout .col-main {
    float: right;
}

.col2-right-layout .col-right {
    float: left;
}

.col3-layout .col-wrapper {
    float: right;
}

.col3-layout .col-wrapper .col-main {
    float: left;
}

.col2-set .col-1 {
    float: left;
}

.col2-set .col-2 {
    float: right;
}

.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 {
    float: right;
}

.a-left {
    text-align: right !important;
}

.a-right {
    text-align: left !important;
}

.onecolumn {
    float: right;
}

.onecolumn-aside {
    float: left;
}

.top-toolbar .quick-links {
    float: left;
}

.top-toolbar .welcome-msg {
    float: right;
    margin: 0 0 0 10px;
}

.top-toolbar .welcome-msg {
    float: right;
    margin: 0 0 0 10px;
}

.top-toolbar .links li,
.footer .links li {
    float: right;
}

.links a {
    background: rgba(0, 0, 0, 0) url("../images/links_div.gif") no-repeat 100% 50% !important;
}

#search_mini_form {
    float: right;
}

.header-container .form-search button {
    float: right;
}

.top-cart-links li {
    float: right;
}

.header-cart .subtotal .actions {
    text-align: left;
}

.mini-products-list .product-image {
    float: right;
}

.header-cart .mini-products-list .product-details {
    margin-right: 58px;
    margin-left: 0;
    text-align: right;
}

.header-cart .mini-products-list .btn-remove,
.header-cart .mini-products-list .btn-edit {
    float: left;
    margin-right: 2px;
}

.header-container .header-cart {
    float: left;
}

.top-cart-links li {
    background: rgba(0, 0, 0, 0) url("../images/links_div_black.gif") no-repeat 0 50%;
    float: right;
}

.top-cart-links li.last a {
    margin-left: 0;
    margin-right: 10px;
}

.breadcrumbs li {
    float: right;
    margin-left: 3px;
}

.block .btn-remove,
.block .btn-edit {
    float: left;
}

.block .block-title {
    text-align: right;
}

.products-grid li.item {
    float: right;
}

.products-grid .btn-cart {
    float: right;
}

.products-grid .add-to-links {
    float: left;
}

.products-grid .add-to-links li {
    float: right;
}

.block-social .icons li {
    float: right;
}


/* .navpro .nav-li { float: right; } */

.products-grid .add-to-links li.li-compare {
    margin-right: 2px;
    margin-left: initial;
}

.mini-products-list .product-details {
    margin-left: initial;
    margin-right: 60px;
}

.sorter .view-mode,
.sorter .limiter,
.sorter .sort-by {
    float: right;
}

.toolbar .sorter {
    float: right;
}

.form-list label {
    float: right;
}

.form-list label em {
    left: -10px;
    float: left;
    right: auto;
}

.soldtogether-block .amazonstyle-images li {
    float: right;
    padding-right: 25px;
    padding-left: 0;
}

.buttons-set button.button {
    float: left;
}

.product-view .product-img-box {
    float: right;
}

.product-view .product-shop,
.col1-layout .product-view .product-shop {
    margin-left: 0;
    margin-right: 385px;
}

.product-view .product-img-box .more-views a {
    float: right;
}

.product-view .product-shop .add-to-links {
    text-align: left;
}

.product-view .add-to-cart-wrapper .add-to-box {
    float: left;
}

.product-view .product-shop .price-box {
    float: right;
}

.product-view .add-to-cart-wrapper .availability {
    right: 0;
    left: auto;
}

.product-view .product-shop .email-friend,
.product-view .product-shop .no-rating {
    float: right;
    clear: both;
}

.socialsuite-buttons {
    float: right;
}

.add-to-cart label {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.add-to-cart .qty {
    float: right;
}

.add-to-cart button.button {
    float: right;
    margin-right: 5px;
    margin-left: 0;
}

.footer .payments {
    float: right;
}

.footer-links-info {
    float: left;
}

.block-information .block-content {
    float: right;
}

.customer-account-login .buttons-set button.button {
    float: right;
}

#product_tabs_tags_tabbed_contents .input-box {
    float: right;
}

.product-view .box-tags .form-add label {
    float: right;
}

#addTagForm button {
    float: left;
}

.error-msg,
.success-msg,
.note-msg,
.notice-msg {
    background-position: calc(100% - 10px) 9px !important;
    padding: 8px 32px 8px 8px !important;
}

#narrow-by-list dd .swatch-link {
    margin-right: 0px;
    margin-left: 2px;
}

#narrow-by-list dd .configurable-swatch-list li {
    margin: 0 0 3px 0;
}

#narrow-by-list dd .swatch-label {
    float: right !important;
    margin: 0 0 5px 0 !important;
}

.block-layered-nav .currently span.label {
    float: right;
}

.block-layered-nav .actions {
    text-align: left;
}

#narrow-by-list dd {
    padding-left: initial;
    padding-right: 7px;
}

#narrow-by-list dd li {
    padding-left: 14px;
    background: url(../images/common.gif) no-repeat -588px -36px;
}

.ajaxlayerednavigation-count {
    float: left;
}

.block-title small {
    float: left;
}

    /**
     * Account page
     */

.box-account .box-head h2,
.box-account .box-title h3,
.box-account .box-head .h2,
.box-account .box-title .h3 {
    float: right;
}

.box-account .box-head a,
.box-account .box-title a {
    float: left;
}
.dashboard .box .box-title h3,
.dashboard .box .box-title h4 {
    float: right;
}
#checkout-step-billing .form-list .field:nth-child(2n),
.customer-address-form .form-list .field:nth-child(2n) {
    margin-right: 19px;
    margin-left: auto;
}
/* .pager .limiter {
    float: right;
} */
.my-wishlist .product-image {
    float: right;
}
.my-wishlist .wishlist-short-info {
    float: right;
}
.my-wishlist .cart-cell {
    float: right;
    margin-left: auto;
    margin-right: 10px;
}

.form-list li.control input.radio, .form-list li.control input.checkbox {
    margin-left: 6px;
    margin-right: auto;
}

.block-reorder input.checkbox {
    float: right;
    margin: 3px  0 0 -20px;
}
.block-reorder .product-name {
    margin-right: 20px;
    margin-left: auto;
}
    /**
     *Argento Essense RTL styles
     */

select,
.pager select,
.sorter select,
.product-options select,
.form-list select {
    padding-right: 10px;
    padding-left: 27px;
    background-position: 0% 50%;
}

.promo-home-content .block .number,
.sorter .view-mode .list,
.sorter .view-mode .grid,
.footer address,
.footer .store-switcher,
.footer-toolbar .form-subscribe-header,
.footer-toolbar .input-box,
.footer-toolbar .actions,
.footer-social .label,
.footer-social .icons li,
.footer-toolbar .block-subscribe,
.form-language,
.form-currency,
.header-cart .summary-qty,
.header-container .form-search .chosen-container,
.ajaxsearch-category-select,
.header-callout,
.logo-wrapper {
    float: right;
}

.sorter .limiter,
.footer .links,
.footer-social,
.header-container .form-search button,
#search_mini_form,
.header-content {
    float: left;
}

.header-container .header-cart {
    float: left;
    margin: 20px 12px 0 0 ;
    text-align: right;
}

.header-cart .summary {
    float: right;
    margin: 0  0 0 3px;
    width: 100px;
}
.header-cart .summary-qty {
    margin: 0 0 0 4px;
}

.header-cart .summary-items {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.nav-container {
    float: none;
    margin: 0 auto;
}

.header-links {
    margin: 0 0 0 80px;
    float: right;
}

.cms-index-index .main .swiper-pagination {
    justify-content: flex-start;
}

.toolbar .sorter {
    width: 100%;
    float: right;
}

#scroll-up {
    left: 30px;
    right: auto;
}

a.qty-switcher-dec:before {
    transform: rotate(225deg) !important;
    right: 5px !important;
}
a.qty-switcher-inc:after {
    transform: rotate(45deg) !important;
}

.products-grid a.qty-switcher-dec:before {
    transform: rotate(-45deg) !important;
    right: 0 !important;
}
.products-grid a.qty-switcher-inc:after {
    transform: rotate(135deg) !important;
}
.products-grid .collateral-info .actions .qty-increment { float: right; }
.products-grid .qty-increment a.qty-switcher-dec,
.products-grid .qty-increment a.qty-switcher-inc {
    left: -30px;
    right: auto;
}

/**
 *Home
*/



/**
 *Search
 */
#search_mini_form {
    margin-top: 10px;
}

.chosen-container .chosen-results li.active-result {
    text-align: right;
}
/**
 * Navigation
 */

.nav-toggler {
    left: 0;
    right: auto;
}

.nav-container .navpro {
    text-align: right;
}

.nav-container .navpro a.level-top,
.nav-container .navpro div.level-top a {
    padding: 15px 13px 13px 20px;
}

.nav-container .navpro li.level-top { border-left:  1px solid #D9D9D9 !important; border-right: none; }
.nav-container .navpro li.level-top a { border-left:  1px solid #FFF !important; border-right: none;}

.nav-container .navpro li.level-top.last { border-left:  0px solid #D9D9D9; }
.nav-container .navpro li.level-top.last a { border-left:  0px solid #FFF; }

.navpro .nav-ul .nav-li {
    text-align: right;
}
.nav-toggler { transform: rotate(180deg); }


.suggestpage-activity {
    text-align: right;
}

.suggestpage-activity .mini-products-list .product-details {
    margin: 0 115px 0 0;
}

.suggestpage-activity .mini-products-list .product-image {
    float: right;
}

.ajaxpro-form .btn-close {
    right: auto;
    left: -9px;
}

.product-view .product-shop .email-friend,
.product-view .product-shop .no-rating {
    margin: 0 0 12px 12px;
}

.product-view .product-img-box {
    text-align: right;
}

.easycatalogimg .list-subcategories li,
.easycatalogimg .list-subcategories li:first-child {
    background: url(../images/common.gif) no-repeat  -588px -36px;
}

.easycatalog-grid li.item {
    float: right;
}
.cms-index-index .col-main .easycatalogimg .easycatalog-grid li.item {
    border-right: 1px dashed #c9deef;
    border-left: 0;
}
.cms-index-index .col-main .easycatalogimg .easycatalog-grid li.item:first-child {
    border-right: 0;
}

/**
 * Prolabels
 */

.top-right { right: auto; left: 0; }
.top-left { left: auto; right: 0; }
.bottom-right { right: auto; left: 0; }
.bottom-left { left: auto; right: 0; }


.products-grid .add-to-links,
.std .block-highlight .add-to-links,
.product-view .listing-suggest .add-to-links,
.product-view .soldtogether-block .add-to-links {
        float: left;
}

.footer-social .icons {
    float: left;
    margin-right: 10px;
}

/**
 * Chosen
 */

/* @group Right to Left */

.chosen-container {
    text-align: right;
}

 .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
 .chosen-single span {
  margin-right: 0 !important ;
  margin-left: 26px;
  direction: rtl;
}
 .chosen-single-with-deselect span {
  margin-left: 38px;
}
 .chosen-single div {
  right: auto !important ;
  left: 3px;
}
 .chosen-single abbr {
  right: auto;
  left: 26px;
}
 .chosen-choices li {
  float: right;
}
 .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
 .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
 .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-container-single-nosearch .chosen-search,
 .chosen-drop {
  left: 9999px;
}
.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
 .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
 .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */

/**
 * Category
 */

.products-list .prolabel-wrapper { float: right; }
.products-list .product-shop {
    margin-right: 210px;
    margin-left: initial;
}

.products-list .product-secondary {
    float: left;
    margin-right: 10px;
    margin-left: auto;
    text-align: left;
}
.products-list .product-primary { float: right; }
.configurable-swatch-list li { float: right !important; }
.products-list .desc { clear: right; }

.product-view .product-shop .product-options-bottom .add-to-links li {
    margin: 0 10px 0 0;
}

/**
 * AjaxPro
 */
.ajaxpro-form { text-align:  inherit; }
.ajaxpro-form .product-view .product-img-box { float: right; }
.ajaxpro-form .product-view .product-shop { float: left; }

/**
 * Checkout
 */

.opc .step-title h2 {
    float: right;
}
.opc .step-title .number {
    float: right;
    margin: 6px 3px 0 10px;
}
.opc .step-title a {
    float: left;
}

/**
 * AjaxSearch
 */

.autocomplete .ajaxsearchimage {
    float: right;
    margin: 2px 2px 2px 6px;
}
p.ajaxsearch-small {
    text-align: right;
}

.headerajaxsearchwindow {
    text-align: right;
}