<?php
$catalogSearchHelper =  $this->helper('catalogsearch');
$config['searchtext'] = $this->__('Search entire store here...');
$config['suggestUrl'] = $catalogSearchHelper->getSuggestUrl();
$iconModifier = $this->getIconModifier();
?>
<form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get" data-config='<?php echo json_encode($config);?>' class="folded">
    <div class="mini-search form-search">
        <div class="search-field-wrapper">
            <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" placeholder="<?php echo $this->__('Search entire store here...') ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
            <a class="close search-close" href="#" title="Close">×</a>
        </div>
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button btn-search">
            <i class="luxury-icon luxury-search<?php echo $iconModifier ?>"></i>
        </button>
        <div class="search-mask"></div>
        <div id="search_autocomplete" class="search-autocomplete"></div>
    </div>
</form>
