<?php
    $_productCollection = $this->getLoadedProductCollection();
    $_collectionSize    = $_productCollection->count();
    $_helper            = $this->helper('catalog/output');
    $_columnCount       = $this->getColumnCount();
    $this->getToolbarBlock()->setData('_current_grid_mode', 'grid');
?>
<?php if (!$_collectionSize) : return; endif; ?>
<div class="h-row carousel-highlight <?php echo ($_collectionSize > $_columnCount) ? 'multirow' : ''; ?>">
    <div class="h-col-md-3 block-highlight <?php echo $this->getClassName() ?>">
        <div class="block-title"><span><?php echo $this->__($this->getTitle()) ?></span></div>
    <?php if ($this->getPageUrl() && (string)$this->getPageTitle()) : ?>
        <div class="page-link">
            <button type="button" class="button" onclick="setLocation('<?php echo $this->getPageUrl() ?>')"><span><span><?php echo $this->__((string)$this->getPageTitle()) ?></span></span></button>
        </div>
    <?php endif; if ($titleImage = $this->getTitleImageUrl()): ?>
        <div class="block-image" style="background-image: url(<?php echo $titleImage; ?>);"></div>
    <?php endif;?>
    </div>
    <div class="h-col-md-9 category-products block-highlight slick gray <?php echo $this->getClassName() ?>" data-slick='<?php echo $this->helper('highlight')->getSlickCarouselData($this->getData()); ?>'>
        <div class="block-content">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
            <?php if ($i++%$_columnCount==0): ?>
            <ul class="products-grid cols-<?php echo $_columnCount ?>">
            <?php endif ?>
                <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <?php if (Mage::helper('core')->isModuleOutputEnabled('TM_ProLabels')) : ?>
                    <div class="prolabel-wrapper">
                        <?php echo Mage::helper('prolabels')->getLabel($_product, 'category'); ?>
                    <?php endif; ?>
                        <a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"
                        ><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>"
                            srcset="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?> 1x, <?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135 * 2); ?> 2x"
                            width="135" height="135"
                            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                        /></a>
                    <?php if (Mage::helper('core')->isModuleOutputEnabled('TM_ProLabels')) : ?>
                    </div>
                    <?php endif; ?>
                    <h2 class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <?php if (Mage::helper('core')->isModuleOutputEnabled('TM_ProLabels')) : ?>
                        <?php echo $this->getLayout()->createBlock('prolabels/category')->setProduct($_product)->toHtml(); ?>
                    <?php endif; ?>
                    <?php if($_product->getRatingSummary()): ?>
                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>
                    <?php echo $this->getPriceHtml($_product, true, $this->getPriceSuffix()) ?>
                    <div class="actions">
                        <?php if($_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </li>
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            </ul>
            <?php endif ?>
            <?php endforeach ?>
            <div class="clearer"></div>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last']);</script>
        </div>
        <div class="block-content loading">
            <div class="spinner">
                <div class="part1"></div>
                <div class="part2"></div>
                <div class="part3"></div>
            </div>
        </div>
    </div>
</div>
