<?php if (Mage::getStoreConfig('prolabels/general/enabled')) : ?>
<?php
    $mobileLabels = $this->getMobileLabels();
    $contentLabels = $this->getContentLabels();
    if (empty($mobileLabels) && empty($contentLabels)) {
        return;
    }
?>
    <ul class="tt-wrapper prolabels-content-labels" data-tooltip-config='<?php echo $this->getTooltipConfig(); ?>'>
    <?php foreach ($mobileLabels as $label) : ?>
        <li><?php echo $this->renderMobileLabel($label);?></li>
    <?php endforeach; ?>
    <?php foreach ($contentLabels as $label) : ?>
        <li><?php echo $this->renderContentLabel($label);?></li>
    <?php endforeach; ?>
    </ul>
<?php endif; ?>
