<?php
/**
 * Copyright 2016 Klarna AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   Klarna
 * @package    Klarna_Payments
 * @author     Jason Grim <jason.grim@klarna.com>
 * @author     David Devor <david.devor@klarna.com>
 */

/** @var Klarna_Payments_Block_Form_Payments $this */
?>

<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <div id="<?php echo $this->getContainerId() ?>"></div>
    <input type="hidden" name="payment[authorization_token]"
           id="payment_<?php echo $this->getMethodCode() ?>_authorization_token"
           value="<?php echo $this->getAuthorizationToken(); ?>"/>
    <?php if ($this->getClientToken()): ?>
        <script type="text/javascript">
            /* <![CDATA[ */
            var klarnaOrderUpdateData = <?php echo $this->getOrderUpdateDataJson(); ?>;

            function hideKlarna<?php echo $this->getFunctionName(); ?>Method() {
                $('dt_method_<?php echo $this->getMethodCode() ?>').hide();
                $('dd_method_<?php echo $this->getMethodCode() ?>').hide();
                if ('<?php echo $this->getMethodCode() ?>' == payment.currentMethod) {
                    $('p_method_<?php echo $this->getMethodCode() ?>').checked = false;
                    payment.lastUsedMethod = payment.currentMethod;
                    payment.currentMethod = '';
                }
            }

            function Klarna<?php echo $this->getFunctionName(); ?>Load() {
                fireWhenReady(function () {
                    Klarna.<?php echo $this->getFunctionName(); ?>.load({
                            container: "#<?php echo $this->getContainerId() ?>"
                        },
                        function (response) {
                            Event.fire(document, 'klarna:load', response);

                            if (true !== response.show_form) {
                                Event.fire(document, 'klarna:load:fail', response);
                                hideKlarna<?php echo $this->getFunctionName(); ?>Method();
                            } else {
                                Event.fire(document, 'klarna:load:success', response);
                            }
                        });
                });
            }

            <?php if ($this->getPreScreenEnabled() || $this->hasAuthorizationToken()):?>
            Klarna<?php echo $this->getFunctionName(); ?>Load();
            <?php endif;?>

            if ($('payment_form_<?php echo $this->getMethodCode() ?>')) {
                $('payment_form_<?php echo $this->getMethodCode() ?>').on('payment-method:switched', Klarna<?php echo $this->getFunctionName(); ?>Load);
            } else {
                document.body.on('payment-method:switched', Klarna<?php echo $this->getFunctionName(); ?>Load);
            }
            klarnaPaymentArray.push({
                name: '<?php echo $this->getMethodCode() ?>',
                action: function Klarna<?php echo $this->getFunctionName(); ?>Authorize(save) {
                    Klarna.<?php echo $this->getFunctionName(); ?>.authorize(klarnaOrderUpdateData, function (response) {
                        Event.fire(document, 'klarna:authorize', response);

                        // Success
                        if (response.approved) {
                            Event.fire(document, 'klarna:authorize:success', response);
                            $('payment_<?php echo $this->getMethodCode() ?>_authorization_token').value = response.authorization_token;
                            return save();
                        }

                        // Resolvable Errors (Or closed modal)
                        if (!response.approved && response.show_form) {
                            // Do nothing, error will show in the widget if error
                        }

                        // unresolvable errors (Or denied)
                        if (!response.approved && !response.show_form) {
                            Event.fire(document, 'klarna:authorize:fail', response);
                            hideKlarna<?php echo $this->getFunctionName(); ?>Method();
                        }
                    });
                }
            });
            /* ]]> */
        </script>
    <?php endif; ?>
</div>
