<?php ?>
<div class="page-title">
    <h1><?php echo $this->__('Edit User') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="box-account box-info">
    <div class="box-head">
        <h2><?php echo $this->__('Edit User') ?></h2>
    </div>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        <div class="fieldset">
            <?php echo $this->getBlockHtml('formkey') ?>
            <input name="id" type="hidden" value="<?php echo $this->getSubAccount()->getId() ?>">

            <h2 class="legend"><?php echo $this->__('User Information') ?></h2>
            <ul class="form-list">
                <?php echo $this->getChildHtml("subaccount_profle_form_start_after"); ?>
                <?php echo $this->getInfoBlockHtml() ?>
                <?php echo $this->getChildHtml("subaccount_profle_form_middle"); ?>
                <li class="control">
                    <input type="checkbox" name="change_password" id="change_password" value="1"
                           onclick="setPasswordForm(this.checked)"
                           title="<?php echo $this->__('Change Password') ?>"<?php if ($this->getCustomer()->getChangePassword() == 1): ?> checked="checked"<?php endif; ?>
                           class="checkbox"/><label
                        for="change_password"><?php echo $this->__('Change Password') ?></label>
                </li>
            </ul>
        </div>
        <div class="fieldset" style="display:none;">
            <h2 class="legend"><?php echo $this->__('Change Password') ?></h2>
            <ul class="form-list">
                <li>
                    <label for="current_password"
                           class="required"><em>*</em><?php echo $this->__('Current Password') ?></label>

                    <div class="input-box">
                        <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                        <input type="text" class="input-text no-display" name="dummy" id="dummy"/>
                        <input type="password" title="<?php echo $this->__('Current Password') ?>"
                               class="input-text" name="current_password" id="current_password"/>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="password" class="required"><em>*</em><?php echo $this->__('New Password') ?>
                        </label>

                        <div class="input-box">
                            <input type="password" title="<?php echo $this->__('New Password') ?>"
                                   class="input-text validate-password" name="password" id="password"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password_confirmation"
                               class="required"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>

                        <div class="input-box">
                            <input type="password" title="<?php echo $this->__('Confirm New Password') ?>"
                                   class="input-text validate-cpassword" name="password_confirmation" id="password_confirmation"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>

            <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>">
                    <small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            <button type="submit" title="<?php echo $this->__('Save') ?>" class="button">
                <span><span><?php echo $this->__('Save') ?></span></span>
            </button>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        function setPasswordForm(arg) {
            if (arg) {
                $('current_password').up(3).show();
                $('current_password').addClassName('required-entry');
                $('password').addClassName('required-entry');
                $('confirmation').addClassName('required-entry');

            } else {
                $('current_password').up(3).hide();
                $('current_password').removeClassName('required-entry');
                $('password').removeClassName('required-entry');
                $('confirmation').removeClassName('required-entry');
            }
        }

        <?php if($this->getCustomer()->getChangePassword()): ?>
        setPasswordForm(true);
        <?php endif; ?>
        //]]>
    </script>
</div>
