<?php ?>
<div class="page-title">
    <h1><?php echo $this->__('New User') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="box-account box-info">
    <div class="box-head">
        <h2><?php echo $this->__('Add User') ?></h2>
    </div>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        <div class="fieldset">
            <?php echo $this->getBlockHtml('formkey') ?>
            <h2 class="legend"><?php echo $this->__('User Information') ?></h2>
            <ul class="form-list">
                <?php echo $this->getChildHtml("subaccount_profile_form_start_after"); ?>
                <?php echo $this->getInfoBlockHtml() ?>
                <?php echo $this->getChildHtml("subaccount_profile_form_middle"); ?>
                <li class="fields">
                    <div class="field">
                        <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>

                        <div class="input-box">
                            <input type="password" name="password" id="password"
                                   title="<?php echo $this->__('Password') ?>"
                                   class="input-text required-entry validate-password"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password_confirmation"
                               class="required"><em>*</em><?php echo $this->__('Confirm Password') ?>
                        </label>

                        <div class="input-box">
                            <input type="password" name="password_confirmation"
                                   title="<?php echo $this->__('Confirm Password') ?>" id="password_confirmation"
                                   class="input-text required-entry validate-cpassword"/>
                        </div>
                    </div>
                </li>
                <?php echo $this->getChildHtml("subaccount_profile_form_before_end"); ?>
            </ul>
        </div>
        <div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            <button type="submit" title="<?php echo $this->__('Add User') ?>" class="button">
                <span><span><?php echo $this->__('Add User') ?></span></span>
            </button>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        //]]>
    </script>
</div>
