<?php  if(Mage::helper('bring')->canShip()): ?> 


<div class="block tracking_list">
    <div class="block-title">
        <strong><span><?php echo $this->__('Your Tracking Codes'); ?></span></strong>
    </div>
    <div class="block-content">
        <?php  $trackingList = $this->getCustomerTrackingCollection(); ?>
        <table>
            <thead>
                <tr>
                    <th><?php echo $this->__('Tracking Number'); ?></th>
                    <th><?php echo $this->__('Order ID'); ?></th>
                    <th><?php echo $this->__('Created At'); ?></th>
                    <th><?php echo $this->__('Action'); ?></th>
                 </tr>
            </thead>
            <tbody>
                 <?php foreach($trackingList as $track): ?>
                
                <tr>
                    <td><?php echo $track->getData('track_number'); ?> </td>
                    <td><?php echo Mage::getModel('sales/order')->load($track->getOrderId())->getIncrementId();     ?>   </td>
                    <td><?php echo $track->getData('created_at'); ?> </td>
                    <td><a onclick="popWin('<?php echo Mage::getUrl('sales/order/view',array('order_id'=>$track->getOrderId()))  ?>','windowName','width=1000,height=800,resizable=yes,scrollbars=yes')"
                           href="#"><?php echo $this->__('View Order'); ?></a> 
                        | <a onclick="javascript:doTrack('<?php echo $track->getData('track_number');?>');">Track</a>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>






<div class="block block-tracking">
    <div class="block-title">
        <strong><span><?php echo $this->__('BRING & POSTEN - Pakkesporing'); ?></span></strong>
    </div>
    
          <div class="block-content">
              <input type="text" id="package-id-input" />
              <ul id="track-message" style="display:none" class="message">
                  <li class="error-msg">
                      <ul>
                          <li><span>Test Error Message</span></li>
                      </ul>
                  </li>
              </ul>
              <br/>
              <button id="track_button" class="button track" onclick="javascript:track();" title="Spor pakken"><span><span><?php echo $this->__('Spor pakken'); ?></span></span></button>
              
              <span id="track-loading" style="display:none"><i><?php echo $this->__('Vennligst vent.'); ?>...</i></span>
              <div id="result-block">
                  
              </div>    
             
                
            </div>
        
</div>
<script type="text/javascript">
    
    function track()
    {
        if($('package-id-input').value.length == 0)
            { 
                $('track-message').down('span').innerHTML = 'inn Pakke ID for å spore';
                $('track-message').show();
            } else {
                
                $('track-message').down('span').innerHTML = '';
                $('track-message').hide();
                
                 var packageId = $('package-id-input').value;
                 var url = '<?php echo $this->getUrl('bring/ajax/track') ?>';
                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: {id:packageId},
                        onCreate: function(){
                            $('track-loading').show();
                         },
                         onFailure: function(){
                             $('result-block').innerHTML = '<p>Kan ikke sende forespørsel nå. Vennligst prøv igjen senere</p>';
                             $('track-loading').hide(); 
                         },
                        onComplete: function(transport) {
                           
                            var res = transport.responseText.evalJSON();
                            if(res.error == true)
                           {
                               
                               $('result-block').innerHTML = '';
                               $('track-message').down('span').innerHTML = res.errmsg;
                               $('track-loading').hide();  
                               $('track-message').show();
                                
                           }
                        
                            //console.debug(res);
                            
                            if(res.error == false)
                            {
                                $('track-message').hide();
                                
                                var html = '';
                                 for(var i = 0; i < res.shipment.length; i++)
                                    {
                                        html += '<p class="shipment-info"><strong>Sending:</strong> ' + res.shipment[i].id + '</p>';
                                        for(var j = 0; j < res.shipment[i].data.length; j++)
                                        {
                                            html += '<p class="package-info"><strong>Pakke ID:</strong> ' + res.shipment[i].data[j].package_id + '</p>';
                                            html += '<p class="package-info"><strong>Metode:</strong> ' + res.shipment[i].data[j].service_name + '</p>';
                                            html += '<p class="package-info"><strong>Beskrivelse:</strong> ' + res.shipment[i].data[j].status_description + '</p>';
                                            html += '<p class="package-info"><strong>Vekt:</strong> ' + res.shipment[i].data[j].weight + ' kg</p>';
                                            html += '<p class="package-info"><strong>Volum:</strong> ' + res.shipment[i].data[j].volume + ' dm3</p>';
                                            html += '<p class="package-info"><strong>Hentekode:</strong> ' + res.shipment[i].data[j].pickup_code + '</p>';
                                                
                                                for(var k = 0; k < res.shipment[i].data[j].events.length; k++)
                                                    {
                                                        html += '<div class="event-log"><p class="event-info"><strong>Status oppdatering ' + (res.shipment[i].data[j].events.length - k) + '</strong></p>';
                                                        var event = res.shipment[i].data[j].events[k];
                                                        html += '<p class="event-info"><strong>Bekrivelse:</strong> ' + event.event_description + '</p>';
                                                        html += '<p class="event-info"><strong>Status:</strong> ' + event.event_status+ '</p>';
                                                        html += '<p class="event-info"><strong>Enhets ID:</strong> ' + event.unit_id + '</p>';
                                                        html += '<p class="event-info"><strong>Postnummer:</strong> ' + event.postal_code + '</p>';
                                                        html += '<p class="event-info"><strong>By:</strong> ' + event.city + '</p>';
                                                        html += '<p class="event-info"><strong>Land:</strong> ' + event.country + '</p>';
                                                        html += '<p class="event-info"><strong>Annkomstdato:</strong> ' + event.date_arrive + '</p>';
                                                        html += '</div>';
                                                        
                                                    }
                                            
                                        }
                                        
                                    }
                                  
                                $('result-block').innerHTML = html;
                                $('track-loading').hide();  
                                
                            }

                       
                        }
                    }); //end new ajax request
           } //end else
    }
    
    
       function doTrack(trackId){
          $('package-id-input').value = trackId;
          track();
      }
      
    
      
      
</script>

<?php if($this->getRequest()->getParam('tracking_number')): ?>
<script type="text/javascript">
    doTrack('<?php echo $this->getRequest()->getParam('tracking_number') ?>');
</script>    

<?php endif; ?>

<style type="text/css">
    p.shipment-info {
        padding-left: 10px;
    }
    p.package-info {
        padding-left: 30px;
    }
    p.event-info {
        padding-left: 50px;
    }
    
    div.event-log {
    padding: 20px 10px;
    }
    
    #package-id-input {
        width: 280px;
        margin: 10px
        
    }
    
    button.track {
        margin: 10px;
        
    }
    
    .tracking_list table{
       
        border-collapse: collapse;
        
    }
    .tracking_list table td{
       padding: 5px 10px;
        border: 1px solid #d3d3d3;
        
    }
    .tracking_list table th{
       padding: 5px 10px;
        border: 1px solid #d3d3d3;
       font-weight: bold; 
       color:white;
       background-color: #c1c1c1;
    }
    
    
    
</style>

<?php endif; ?>