<!-- 
   Special thanks to widget script made by Stian Mathiassen and Nina Volstad
-->
<?php  if(Mage::helper('bring')->canShip()): ?> 
<div class="block-tracking">
    <div class="block-title">
        <strong><span><?php echo Mage::helper('bring')->__('Bring & Posten - Pickup Points') ?></span></strong>
    </div>
    <div class="block-content">
                    <script type="text/javascript">
                     jQuery.noConflict();
                     jQuery(document).ready(function() {
                            jQuery('#divid').utleveringsenhet({
                                 googleMaps: true,
                                 mapHeight: 400,
                                 mapWidth: 400
                            });
                        });
                    </script>

                    <form>
                            <div id="divid"></div>
                    </form>
    </div>
</div>
    <style type="text/css">
        #divid{
            padding: 30px;
            text-align: center;
        }
        
    </style>  
<?php endif; ?>