.form-list label { margin: 8px 0; font-weight: normal; font-size: 15px; }
.form-list .control label { margin: 0; vertical-align: middle; }
.form-list .customer-dob label { margin: 0; }
.product-options dt { margin-bottom: 5px; }

.control label,
input[type="checkbox"] + span label,
input[type="radio"] + span label,
input[type="checkbox"] + label,
input[type="radio"] + label { cursor: pointer; }

textarea { width: 250px; }

select,
textarea,
.product-options input.input-text,
.product-options select,
.product-options select.multiselect,
.product-options textarea,
.form-list input.input-text,
.form-list select,
.form-list select[multiple],
.form-list textarea,
.discount .input-text
{
    background: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 7px;
    font-size: 15px;
    line-height: normal;
    text-indent: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 100%;
}

.form-list select[multiple] {
    padding: 0;
}
.form-list select[multiple] option {
    padding: 6px 7px;
}

select,
textarea,
.pager select,
.sorter select {
    padding-left: 7px;
    font-size: 12px;
}

select,
.pager select,
.sorter select,
.product-options select,
.form-list select {
    margin: 0;
    padding-right: 27px ;
    background-image: url(../images/ios7-arrow-down.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 27px 9px;
}

select::-ms-expand,
.pager select::-ms-expand,
.sorter select::-ms-expand,
.product-options select::-ms-expand,
.form-list select::-ms-expand {
    display: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    select,
    .pager select,
    .sorter select
    .product-options select,
    .form-list select {
        background-image: url(../images/ios7-arrow-down@2x.png);
    }
}

label.required em, span.required em {
    display: none;
}

label.required:after, span.required:after {
    content: '*';
    margin-left: 3px;
    color: #df280a;
    font-weight: normal;
}

.product-view .product-options .swatch-attr .select-label {
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    position: relative;
    box-shadow: 0 0 0 0 #aaa inset !important;
    border: 1px solid #bbb;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #fff;
    outline: 0;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]::after,
input[type="radio"]::after {
    content: ' ';
    background-image: url(../images/checkmark.png);
    background-size: 12px 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
    transform: scale(0.2);
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    box-shadow: 0 0 0 9px #888 inset !important;
    border: none;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]::after {
    background-image: url(../images/record.svg);
    background-size: 8px 8px;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
    transform: scale(1);
    opacity: 1;
}

select:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.legend { display: none; }
.fieldset, .buttons-set { background: none; border: none; margin: 15px; padding: 0; }
.buttons-set p.required { text-align: left; margin: 5px 0 0; }

textarea.disabled,
input.disabled { background: #f6f6f6; color: #bbb; }

.form-list input.input-text:focus,
.form-list select:focus,
.form-list textarea:focus { background-color: #fafafa; }

/* contact form */
#contactForm .form-list .field { float: none; }
#contactForm .form-list li { margin: 0; }
#contactForm .form-list label { margin-top: 15px; }
#contactForm .buttons-set { max-width: 525px; }

/* create account form */
.customer-account-create .form-list .field { float: none; width: 100%; max-width: 400px; }
.customer-account-create .form-list .field input[type="text"],
.customer-account-create .form-list .field select { width: 100%; }
.customer-account-create .form-list input[name="email"],
.customer-account-create .form-list input[type="password"] { width: 100%; max-width: 400px; }
.customer-account-create .buttons-set { max-width: 400px; }

/* customer account edit form */
.customer-account-edit .form-list .field { float: none; width: 100%; max-width: 400px; }
.customer-account-edit .form-list .field input[type="text"],
.customer-account-edit .form-list .field select { width: 100%; }
.customer-account-edit .form-list input[name="email"],
.customer-account-edit .form-list input[type="password"] { width: 100%; max-width: 400px; }
.customer-account-edit .buttons-set { max-width: 400px; }

/* customer-address-form*/
.customer-address-form .form-list .field { width: 100%; max-width: 255px; }
.customer-address-form .form-list .field:nth-child(2n) { margin-left: 19px; }
.customer-address-form .form-list .field input[type="text"],
.customer-address-form .form-list .field select { width: 100%; }
@media (max-width: 759px) {
    .customer-address-form .form-list .field { float: none; width: 100%; max-width: 529px; }
    .customer-address-form .form-list .field:nth-child(2n) { margin-left: 0; }
}

/* forgotpassword form */
.customer-account-forgotpassword .fieldset,
.customer-account-forgotpassword .buttons-set { max-width: 400px; }
.customer-account-forgotpassword .fieldset .form-list input.input-text { width: 100%; }
.customer-account-forgotpassword .buttons-set p.required { display: none; }

/* customer-address-form*/
#checkout-step-billing .form-list .field { width: 100%; max-width: 255px; }
#checkout-step-billing .form-list .field:nth-child(2n) { margin-left: 19px; }
#checkout-step-billing .form-list .field input[type="text"],
#checkout-step-billing .form-list .field select { width: 100%; }
#checkout-step-shipping .form-list .field { width: 100%; max-width: 255px; }
#checkout-step-shipping .form-list .field:nth-child(2n) { margin-left: 19px; }
#checkout-step-shipping .form-list .field input[type="text"],
#checkout-step-shipping .form-list .field select { width: 100%; }
#checkout-step-billing .form-list .customer-dob .dob-day input.input-text,
#checkout-step-shipping .form-list .customer-dob .dob-day input.input-text,
#checkout-step-billing .form-list .customer-dob .dob-month input.input-text,
#checkout-step-shipping .form-list .customer-dob .dob-month input.input-text { width: 46px; }
@media (max-width: 759px) {
    #checkout-step-billing .form-list .field { float: none; width: 100%; max-width: 529px; }
    #checkout-step-billing .form-list .field:nth-child(2n) { margin-left: 0; }
    #checkout-step-shipping .form-list .field { float: none; width: 100%; max-width: 529px; }
    #checkout-step-shipping .form-list .field:nth-child(2n) { margin-left: 0; }
}

/* order and returns form */
.sales-guest-form .fieldset,
.sales-guest-form .buttons-set { max-width: 400px; }
.sales-guest-form .form-list li input[type="text"],
.sales-guest-form .form-list li select { width: 100% !important; }
.sales-guest-form .form-list input[name="email"] { width: 100%; }
