<?php
    $list = $this->getParentBlock();
    $product = $this->getProduct();
    $placeAddToCart = $this->helper('argento/product_list')
        ->getPlaceForAddToCart($list->getMode());
?>
<div class="actions">
    <?php if($product->isSaleable()): ?>
        <?php if ($placeAddToCart == 'actions'): ?>
            <?php if ($this->helper('argento')->canShowAddToCart($product)): ?>
                <p><button type="button" title="<?php echo Mage::helper('catalog')->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $list->getAddToCartUrl($product) ?>')"><span><span><?php echo Mage::helper('catalog')->__('Add to Cart') ?></span></span></button></p>
            <?php else: ?>
                <p><button type="button" title="<?php echo Mage::helper('catalog')->__('View Details') ?>" class="button btn-cart" onclick="setLocation('<?php echo $product->getProductUrl() ?>')"><span><span><?php echo Mage::helper('catalog')->__('View Details') ?></span></span></button></p>
            <?php endif; ?>
        <?php endif ?>
    <?php else: ?>
        <?php if ($product->getIsSalable()): ?>
            <p class="availability in-stock"><span><?php echo Mage::helper('cataloginventory')->__('In stock') ?></span></p>
        <?php else: ?>
            <p class="availability out-of-stock"><span><?php echo Mage::helper('cataloginventory')->__('Out of stock') ?></span></p>
        <?php endif; ?>
    <?php endif; ?>
    <?php if (Mage::helper('core')->isModuleOutputEnabled('TM_FacebookLB')) : ?>
        <?php echo Mage::helper('facebooklb')->getCategoryLikeButton($product) ?>
    <?php endif ?>
</div>
