<?php
    $list = $this->getParentBlock();
    $product = $this->getProduct();
    $placeAddToCart = $this->helper('argento/product_list')
        ->getPlaceForAddToCart($list->getMode());
?>
<ul class="add-to-links">
    <?php if ($product->isSaleable() && $placeAddToCart == 'add-to-links'): ?>
        <?php if ($list->helper('argento')->canShowAddToCart($product)): ?>
            <li class="li-addtocart"><button type="button" title="<?php echo Mage::helper('catalog')->__('Add to Cart'); ?>" class="button btn-cart" onclick="setLocation('<?php echo $list->getAddToCartUrl($product) ?>')"><span><span><?php echo Mage::helper('catalog')->__('Add to Cart') ?></span></span></button></li>
        <?php else: ?>
            <li class="li-viewdetails"><button type="button" title="<?php echo Mage::helper('catalog')->__('View Details') ?>" class="button btn-cart" onclick="setLocation('<?php echo $product->getProductUrl() ?>')"><span><span><?php echo Mage::helper('catalog')->__('View Details') ?></span></span></button></li>
        <?php endif; ?>
    <?php endif; ?>
    <?php if ($this->helper('wishlist')->isAllow()) : ?>
        <li class="li-wishlist"><a rel="nofollow" href="<?php echo $this->helper('wishlist')->getAddUrl($product) ?>" class="link-wishlist" title="<?php echo Mage::helper('wishlist')->__('Add to Wishlist') ?>">
            <?php if ($list->getMode() == 'grid'): ?>
                <i class="fa fa-heart" aria-hidden="true"></i>
            <?php else: ?>
                <?php echo Mage::helper('wishlist')->__('Add to Wishlist') ?>
            <?php endif ?>
        </a></li>
    <?php endif; ?>
    <?php if($_compareUrl = $list->getAddToCompareUrl($product)): ?>
        <li class="li-compare"><a rel="nofollow" href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo Mage::helper('catalog')->__('Add to Compare') ?>">
            <?php if ($list->getMode() == 'grid'): ?>
                <i class="fa fa-plus" aria-hidden="true"></i>
            <?php else: ?>
                <?php echo Mage::helper('catalog')->__('Add to Compare') ?>
            <?php endif ?>
        </a></li>
    <?php endif; ?>
</ul>
